$ux-navbar-shadow-color: rgba( 0, 0, 0, 0.26 );

$ux-box-shadow: 0 2px 5px $ux-navbar-shadow-color;
$ux-box-shadow-light: 0 1px 1px $ux-navbar-shadow-color;

$ux-box-shadow-card: 0 2px 4px rgba(0,0,0,0.1);

$ux-box-shadow-table-sticky-column: 2px 0px 1px 0px rgba(0, 0, 0, 0.05);

$ux-box-shadow-top: 0 -2px 5px $ux-navbar-shadow-color;
$ux-box-shadow-top-light: 0 -1px 1px $ux-navbar-shadow-color;
