@import './colors';

.btn-link--neutral {
  color: $ux-gray-500;

  &:hover {
    color: $ux-gray-700;
  }
}

.btn-outline-secondary {
  color: $ux-blue;
  border-color: $ux-blue;

  &:hover {
    background-color: $ux-blue;
    color: $ux-white;
  }
}
