@mixin btn-focus-outline {
  box-shadow: none !important;
  outline: 2px solid var(--ux-blue-500);
  outline-offset: 2px;
}

@mixin btn-remove-bootstrap-focus-outline {
  box-shadow: none !important;
}
