@import './colors';

.btn-link--neutral {
  color: var(--ux-gray-500);

  &:hover {
    color: var(--ux-gray-700);
  }
}

.btn-outline-secondary {
  color: var(--ux-blue);
  border-color: var(--ux-blue);

  &:hover {
    background-color: var(--ux-blue);
    color: var(--ux-white);
  }
}

$synthesis-primary: $synth-primary-cta-blue;
$primary: $ux-emerald-600;

@mixin btn-focus-outline {
  box-shadow: none !important;
  outline: 2px solid var(--ux-blue-500);
  outline-offset: 2px;
}

@mixin btn-focus-outline--dark-bg {
  box-shadow: none !important;
  outline: 2px solid var(--ux-white);
  outline-offset: 2px;
}

@mixin btn-remove-bootstrap-focus-outline {
  box-shadow: none !important;
}

@mixin btn-primary {
  $btn-primary-background: $primary;
  $btn-primary-border: $primary;
  $btn-primary-color: $ux-white;
  $btn-primary-hover-background: $ux-emerald-700;
  $btn-primary-hover-border: $ux-emerald-700;
  $btn-primary-hover-color: $ux-white;
  $btn-primary-active-background: $ux-emerald-800;
  $btn-primary-active-border: $ux-emerald-800;
  $btn-primary-active-color: $ux-white;

  @include button-variant(
    $btn-primary-background,
    $btn-primary-border,
    $btn-primary-color,

    $btn-primary-hover-background,
    $btn-primary-hover-border,
    $btn-primary-hover-color,

    $btn-primary-active-background,
    $btn-primary-active-border,
    $btn-primary-active-color,
  );

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}

@mixin synthesis-btn-primary {
  $btn-primary-background: $synthesis-primary;
  $btn-primary-border: $synthesis-primary;
  $btn-primary-color: $ux-white;
  $btn-primary-hover-background: $synth-dark-background-selected-blue;
  $btn-primary-hover-border: $synth-dark-background-selected-blue;
  $btn-primary-hover-color: $ux-white;
  $btn-primary-active-background: $synth-dark-background-pressed-blue;
  $btn-primary-active-border: $synth-dark-background-pressed-blue;
  $btn-primary-active-color: $ux-white;

  @include button-variant(
    $btn-primary-background,
    $btn-primary-border,
    $btn-primary-color,

    $btn-primary-hover-background,
    $btn-primary-hover-border,
    $btn-primary-hover-color,

    $btn-primary-active-background,
    $btn-primary-active-border,
    $btn-primary-active-color,
  );

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}

@mixin btn-outline-primary {
  $btn-outline-primary-color: $primary;
  $btn-outline-primary-color-hover: $ux-white;
  $btn-outline-primary-hover-background: $ux-emerald-700;
  $btn-outline-primary-hover-border: $ux-emerald-700;
  $btn-outline-primary-hover-color: $ux-white;
  $btn-outline-primary-border: $primary;
  $btn-outline-primary-active-background: $ux-emerald-800;
  $btn-outline-primary-active-border-color: $ux-emerald-800;

  @include button-outline-variant(
    $btn-outline-primary-color,
    $btn-outline-primary-color-hover,

    $btn-outline-primary-hover-background,
    $btn-outline-primary-hover-border,
    $btn-outline-primary-hover-color,
  );

  border-color: $btn-outline-primary-border;

  &:active {
    background-color: $btn-outline-primary-active-background;
    border-color: $btn-outline-primary-active-border-color;
  }

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}

@mixin synthesis-btn-outline-primary {
  $btn-outline-primary-color: $synthesis-primary;
  $btn-outline-primary-color-hover: $ux-white;
  $btn-outline-primary-hover-background: $synth-dark-background-selected-blue;
  $btn-outline-primary-hover-border: $synth-dark-background-selected-blue;
  $btn-outline-primary-hover-color: $ux-white;
  $btn-outline-primary-border: $synthesis-primary;
  $btn-outline-primary-active-background: $synth-dark-background-pressed-blue;
  $btn-outline-primary-active-border-color: $synth-dark-background-pressed-blue;

  @include button-outline-variant(
    $btn-outline-primary-color,
    $btn-outline-primary-color-hover,

    $btn-outline-primary-hover-background,
    $btn-outline-primary-hover-border,
    $btn-outline-primary-hover-color,
  );

  border-color: $btn-outline-primary-border;

  &:active {
    background-color: $btn-outline-primary-active-background;
    border-color: $btn-outline-primary-active-border-color;
  }

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}

@mixin btn-tertiary {
  $btn-tertiary-background: transparent;
  $btn-tertiary-border: transparent;
  $btn-tertiary-color: #000;
  $btn-tertiary-hover-background: #F4F4F4;
  $btn-tertiary-hover-border: $btn-tertiary-border;
  $btn-tertiary-hover-color: $btn-tertiary-color;
  $btn-tertiary-active-background: #DEDEDE;
  $btn-tertiary-active-border: #DEDEDE;
  $btn-tertiary-active-color: $btn-tertiary-hover-color;
  $btn-tertiary-disabled-background: $btn-tertiary-background;
  $btn-tertiary-disabled-border: $btn-tertiary-hover-border;
  $btn-tertiary-disabled-color: $btn-tertiary-hover-color;

  @include button-variant(
    $btn-tertiary-background,
    $btn-tertiary-border,
    $btn-tertiary-color,

    $btn-tertiary-hover-background,
    $btn-tertiary-hover-border,
    $btn-tertiary-hover-color,

    $btn-tertiary-active-background,
    $btn-tertiary-active-border,
    $btn-tertiary-active-color,

    $btn-tertiary-disabled-background,
    $btn-tertiary-disabled-border,
    $btn-tertiary-disabled-color,
  );

  border-width: 2px;

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:focus:not(:active, :hover) {
    background-color: transparent;
  }
}

@mixin btn-transparent {
  $btn-transparent-background: transparent;
  $btn-transparent-border: transparent;
  $btn-transparent-color: $ux-gray-700;
  $btn-transparent-hover-background: $ux-gray-300;
  $btn-transparent-hover-border: transparent;
  $btn-transparent-hover-color: $ux-gray-900;
  $btn-transparent-active-background: $ux-gray-400;
  $btn-transparent-active-border: $ux-gray-400;
  $btn-transparent-active-color: $ux-gray-900;

  @include button-variant(
    $btn-transparent-background,
    $btn-transparent-border,
    $btn-transparent-color,

    $btn-transparent-hover-background,
    $btn-transparent-hover-border,
    $btn-transparent-hover-color,

    $btn-transparent-active-background,
    $btn-transparent-active-border,
    $btn-transparent-active-color,
  );

  &:disabled {
    color: var(--ux-gray-500);
  }

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}

@mixin btn-outline-transparent {
  $btn-outline-transparent-color: $ux-gray-900;
  $btn-outline-transparent-color-hover: $ux-gray-900;
  $btn-outline-transparent-hover-background: $ux-gray-300;
  $btn-outline-transparent-hover-border: $ux-gray-300;
  $btn-outline-transparent-hover-color: $ux-gray-900;
  $btn-outline-transparent-border: $ux-gray-400;
  $btn-outline-transparent-active-background: $ux-gray-400;
  $btn-outline-transparent-active-border-color: $ux-gray-400;

  @include button-outline-variant(
    $btn-outline-transparent-color,
    $btn-outline-transparent-color-hover,

    $btn-outline-transparent-hover-background,
    $btn-outline-transparent-hover-border,
    $btn-outline-transparent-hover-color,
  );

  border-color: $btn-outline-transparent-border;

  &:active {
    background-color: $btn-outline-transparent-active-background;
    border-color: $btn-outline-transparent-active-border-color;
  }

  &:disabled {
    background-color: var(--ux-gray-300);
    border: $ux-gray-400;
    color: var(--ux-gray-800);
  }

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}

@mixin btn-brand-google {
  $btn-brand-google-background: $brand-color-google-alt;
  $btn-brand-google-border: $brand-color-google-alt;
  $btn-brand-google-color: $ux-white;
  $btn-brand-google-hover-background: #2069cf;
  $btn-brand-google-hover-border: #2069cf;
  $btn-brand-google-hover-color: $ux-white;
  $btn-brand-google-active-background: #2069cf;
  $btn-brand-google-active-border: #2069cf;
  $btn-brand-google-active-color: $ux-white;

  @include button-variant(
    $btn-brand-google-background,
    $btn-brand-google-border,
    $btn-brand-google-color,

    $btn-brand-google-hover-background,
    $btn-brand-google-hover-border,
    $btn-brand-google-hover-color,

    $btn-brand-google-active-background,
    $btn-brand-google-active-border,
    $btn-brand-google-active-color,
  );

  &:disabled {
    color: var(--ux-white);
  }

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}

@mixin btn-brand-facebook {
  $btn-brand-facebook-background: $brand-color-facebook;
  $btn-brand-facebook-border: $brand-color-facebook;
  $btn-brand-facebook-color: $ux-white;
  $btn-brand-facebook-hover-background: darken($brand-color-facebook, 5%);
  $btn-brand-facebook-hover-border: darken($brand-color-facebook, 5%);
  $btn-brand-facebook-hover-color: $ux-white;
  $btn-brand-facebook-active-background: darken($brand-color-facebook, 5%);
  $btn-brand-facebook-active-border: darken($brand-color-facebook, 5%);
  $btn-brand-facebook-active-color: $ux-white;

  @include button-variant(
    $btn-brand-facebook-background,
    $btn-brand-facebook-border,
    $btn-brand-facebook-color,

    $btn-brand-facebook-hover-background,
    $btn-brand-facebook-hover-border,
    $btn-brand-facebook-hover-color,

    $btn-brand-facebook-active-background,
    $btn-brand-facebook-active-border,
    $btn-brand-facebook-active-color,
  );

  &:disabled {
    color: var(--ux-white);
  }

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}

@mixin btn-brand-linkedin {
  $btn-brand-linkedin-background: $brand-color-linkedin;
  $btn-brand-linkedin-border: $brand-color-linkedin;
  $btn-brand-linkedin-color: $ux-white;
  $btn-brand-linkedin-hover-background: darken($brand-color-linkedin, 5%);
  $btn-brand-linkedin-hover-border: darken($brand-color-linkedin, 5%);
  $btn-brand-linkedin-hover-color: $ux-white;
  $btn-brand-linkedin-active-background: darken($brand-color-linkedin, 5%);
  $btn-brand-linkedin-active-border: darken($brand-color-linkedin, 5%);
  $btn-brand-linkedin-active-color: $ux-white;

  @include button-variant(
    $btn-brand-linkedin-background,
    $btn-brand-linkedin-border,
    $btn-brand-linkedin-color,

    $btn-brand-linkedin-hover-background,
    $btn-brand-linkedin-hover-border,
    $btn-brand-linkedin-hover-color,

    $btn-brand-linkedin-active-background,
    $btn-brand-linkedin-active-border,
    $btn-brand-linkedin-active-color,
  );

  &:disabled {
    color: var(--ux-white);
  }

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}

@mixin btn-brand-twitter {
  $btn-brand-twitter-background: $brand-color-twitter;
  $btn-brand-twitter-border: $brand-color-twitter;
  $btn-brand-twitter-color: $ux-white;
  $btn-brand-twitter-hover-background: darken($brand-color-twitter, 5%);
  $btn-brand-twitter-hover-border: darken($brand-color-twitter, 5%);
  $btn-brand-twitter-hover-color: $ux-white;
  $btn-brand-twitter-active-background: darken($brand-color-twitter, 5%);
  $btn-brand-twitter-active-border: darken($brand-color-twitter, 5%);
  $btn-brand-twitter-active-color: $ux-white;

  @include button-variant(
    $btn-brand-twitter-background,
    $btn-brand-twitter-border,
    $btn-brand-twitter-color,

    $btn-brand-twitter-hover-background,
    $btn-brand-twitter-hover-border,
    $btn-brand-twitter-hover-color,

    $btn-brand-twitter-active-background,
    $btn-brand-twitter-active-border,
    $btn-brand-twitter-active-color,
  );

  &:disabled {
    color: var(--ux-white);
  }

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}

@mixin btn-link {
  $btn-link-background: transparent;
  $btn-link-border: transparent;
  $btn-link-color: $ux-blue;
  $btn-link-hover-background: transparent;
  $btn-link-hover-border: transparent;
  $btn-link-hover-color: $ux-blue-600;
  $btn-link-active-background: transparent;
  $btn-link-active-border: transparent;
  $btn-link-active-color: $ux-blue-600;

  @include button-variant(
    $btn-link-background,
    $btn-link-border,
    $btn-link-color,

    $btn-link-hover-background,
    $btn-link-hover-border,
    $btn-link-hover-color,

    $btn-link-active-background,
    $btn-link-active-border,
    $btn-link-active-color,
  );

  text-decoration: none;

  &:disabled {
    color: var(--ux-blue);
    opacity: 0.5;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    @include btn-focus-outline;
  }

  &:active, &:focus {
    @include btn-remove-bootstrap-focus-outline;
  }
}
