@import './colors';

.btn-link--neutral {
  color: $ux-gray-500;

  &:hover {
    color: $ux-gray-700;
  }
}

.btn-outline-secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 116px;

  position: static;
  width: 351px;
  height: 36px;
  left: 0.5px;
  top: 0px;

  background: $ux-white;

  border: 1px solid $ux-blue;
  box-sizing: border-box;
  border-radius: 4px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;

  &:hover {
    background-color: $ux-blue;
  }
}
