:root {
  --ux-border-radius: 4px;

  --ux-navbar-shadow-color: #{rgba(0, 0, 0, 0.26)};

  --ux-box-shadow: #{0 2px 5px rgb(0 0 0 / 26%)};
  --ux-box-shadow-light: #{0 1px 1px rgb(0 0 0 / 26%)};
  --ux-box-shadow-card: #{0 2px 4px rgb(0 0 0 / 10%)};
  --ux-box-shadow-table-sticky-column-left: 2px 0px 1px 0px rgb(0 0 0 / 5%);
  --ux-box-shadow-table-sticky-column-right: -2px 0px 1px 0px rgb(0 0 0 / 5%);
  --ux-box-shadow-top: 0 -2px 5px rgb(0 0 0 / 26%);
  --ux-box-shadow-top-light: 0 -1px 1px rgb(0 0 0 / 26%);

  --ux-drawer-box-shadow-right: -4px 4px 8px rgb(0 0 0 / 10%);
  --ux-drawer-box-shadow-left: 4px 4px 8px rgb(0 0 0 / 10%);

  --ux-elevations-00: 0rem 0rem 0rem rgb(0 0 0 / 10%);
  --ux-elevations-10: 0rem 0.06rem 0.12rem rgb(0 0 0 / 10%);
  --ux-elevations-20: 0rem 0.13rem 0.3rem rgb(0 0 0 / 10%);
  --ux-elevations-30: 0rem 0.3rem 0.5rem rgb(0 0 0 / 10%);
  --ux-elevations-40: 0rem 0.4rem 0.8rem rgb(0 0 0 / 10%);
  --ux-elevations-50: 0rem 0.5rem 1rem rgb(0 0 0 / 10%);

  --ux-black: #000;
  --ux-blue: #3f6dca;
  --ux-cream: #f8f4f2;
  --ux-emerald: #158d71;
  --ux-gray: #a1a1a1;
  --ux-green: #04713c;
  --ux-navy: #011936;
  --ux-orange: #f59c27;
  --ux-purple: #725ccc;
  --ux-red: #e03131;
  --ux-teal: #0e4749;
  --ux-yellow: #f3ce14;
  --ux-white: #fff;

  --brand-color-facebook: #3577ea;
  --brand-color-google: #db3236;
  --brand-color-google-alt: #2d8cff;
  --brand-color-linkedin: #0a66c2;
  --brand-color-office365: #2372ba;
  --brand-color-twitter: #1b95e0;
  --brand-color-yahoo: #6001d2;

  --ux-blue-100: #f1f5fe;
  --ux-blue-200: #bdd1fb;
  --ux-blue-300: #a6c0f5;
  --ux-blue-400: #7497df;
  --ux-blue-500: var(--synth-blue-300);
  --ux-blue-600: #2854af;
  --ux-blue-700: #143c8d;
  --ux-blue-800: #0b2d72;
  --ux-blue-900: #031d52;

  --ux-emerald-100: #bfddd5;
  --ux-emerald-200: #91cabb;
  --ux-emerald-300: #65b8a2;
  --ux-emerald-400: #3ea388;
  --ux-emerald-500: var(--synth-emerald-400);
  --ux-emerald-600: #177863;
  --ux-emerald-700: #156152;
  --ux-emerald-800: #0d4a3e;

  --ux-gray-100: #f9f9f9;
  --ux-gray-200: #f1f1f1;
  --ux-gray-300: #e1e1e1;
  --ux-gray-400: #d1d1d1;
  --ux-gray-500: var(--ux-gray);
  --ux-gray-600: #818181;
  --ux-gray-700: #616161;
  --ux-gray-800: #444;
  --ux-gray-900: #101010;

  --ux-green-100: #d4f6e5;
  --ux-green-200: #a3f9cf;
  --ux-green-300: #70e2ab;
  --ux-green-400: #40cc88;
  --ux-green-500: #21b36c;
  --ux-green-600: #09914f;
  --ux-green-700: var(--ux-green);
  --ux-green-800: #015029;
  --ux-green-900: #003119;

  --ux-navy-100: #c4d0df;
  --ux-navy-200: #a3bad2;
  --ux-navy-300: #7396ba;
  --ux-navy-400: #40669c;
  --ux-navy-500: #234574;
  --ux-navy-600: #16325a;
  --ux-navy-700: var(--ux-navy);
  --ux-navy-800: #01152d;
  --ux-navy-900: #021020;

  --ux-neutral-100: var(--ux-white);
  --ux-neutral-200: var(--ux-cream);
  --ux-neutral-300: #e6e2e0;
  --ux-neutral-400: #cecbc9;
  --ux-neutral-900: var(--ux-black);

  --ux-orange-100: #fdead2;
  --ux-orange-200: #fcdfb9;
  --ux-orange-300: #fac988;
  --ux-orange-400: #f7b258;
  --ux-orange-500: var(--ux-orange);
  --ux-orange-600: #e18c28;
  --ux-orange-700: #ae6608;
  --ux-orange-800: #7d4a06;
  --ux-orange-900: #3d2200;

  --ux-red-100: #fae1e1;
  --ux-red-200: #f3bdbd;
  --ux-red-300: #eb7a7a;
  --ux-red-400: #e44e4e;
  --ux-red-500: var(--synth-red-200);
  --ux-red-600: #c71f1f;
  --ux-red-700: #b11b1b;
  --ux-red-800: #9b1818;
  --ux-red-900: #470404;

  --ux-teal-100: #cae1e2;
  --ux-teal-600: #1c5d5f;
  --ux-teal-800: #093c3f;

  --ux-yellow-100: #fff1ab;
  --ux-yellow-200: #ffeb85;
  --ux-yellow-300: #ffe356;
  --ux-yellow-400: #fbda36;
  --ux-yellow-500: var(--ux-yellow);
  --ux-yellow-600: #e1be0c;
  --ux-yellow-700: #caa900;
  --ux-yellow-800: #a98d01;
  --ux-yellow-900: #453a00;

  --ux-purple-200: #dcd7f1;
  --ux-purple-500: var(--ux-purple);
  --ux-purple-900: #120640;

  --synth-spacing-base: 4px;

  // Increments of 4 according to the 4 pixel grid system
  --synth-spacing-1: var(--synth-spacing-base); // 4px
  --synth-spacing-2: calc(var(--synth-spacing-base) * 2); // 8px
  --synth-spacing-3: calc(var(--synth-spacing-base) * 3); // 12px
  --synth-spacing-4: calc(var(--synth-spacing-base) * 4); // 16px
  --synth-spacing-5: calc(var(--synth-spacing-base) * 5); // 20px
  --synth-spacing-6: calc(var(--synth-spacing-base) * 6); // 24px
  --synth-spacing-7: calc(var(--synth-spacing-base) * 7); // 28px
  --synth-spacing-8: calc(var(--synth-spacing-base) * 8); // 32px
  --synth-spacing-9: calc(var(--synth-spacing-base) * 9); // 36px
  --synth-spacing-10: calc(var(--synth-spacing-base) * 10); // 40px
  --synth-spacing-11: calc(var(--synth-spacing-base) * 11); // 44px
  --synth-spacing-12: calc(var(--synth-spacing-base) * 12); // 48px

  /* Synthesis Colors */
  --synth-black: #000;
  --synth-white: #fff;

  --synth-navy-100: #162c4e;
  --synth-navy-200: #202b38;
  --synth-navy-300: #010812;

  --synth-emerald-100: #eef9f6;
  --synth-emerald-200: #c6e2db;
  --synth-emerald-300: #91cabb;
  --synth-emerald-400: #158d71;

  --synth-gray-100: #fff;
  --synth-gray-200: #fbfbfb;
  --synth-gray-300: #f4f4f4;
  --synth-gray-400: #dedede;
  --synth-gray-500: #5b5b5b;
  --synth-gray-600: #1b1b1b;

  /* Stop light colors */
  --synth-green-100: #d4f6e5;
  --synth-green-200: #09914f;
  --synth-green-300: #015029;

  --synth-orange-100: #f16e00;
  --synth-orange-200: #ab6408;

  --synth-red-100: #fae1e1;
  --synth-red-200: #e03131;
  --synth-red-300: #c71f1f;

  --synth-blue-100: #e5ecff;
  --synth-blue-200: #0d6efd;
  --synth-blue-300: #3f6dca;
  --synth-blue-400: #0b2d72;

  --synth-yellow-100: #fff1ab;
  --synth-yellow-200: #ffe356;
  --synth-yellow-300: #fbda36;
  --synth-yellow-400: #453a00;

  /* Expression colors */
  --synth-denim-100: #d8e7f4;
  --synth-denim-200: #225077;
  --synth-denim-300: #0b1b28;

  --synth-forest-100: #e1f4de;
  --synth-forest-200: #317326;
  --synth-forest-300: #10260d;

  --synth-ruby-100: #f9b9b9;
  --synth-ruby-200: #8d0c0c;
  --synth-ruby-300: #2f0404;

  --synth-gold-100: #fff6c9;
  --synth-gold-200: #998000;
  --synth-gold-300: #332b00;

  --synth-purple-100: #faf7ff;
  --synth-purple-200: #eee1ff;
  --synth-purple-300: #420099;
  --synth-purple-400: #160033;

  --synth-rust-100: #ffe8ca;
  --synth-rust-200: #995200;
  --synth-rust-300: #331d00;

  /* AI Feature Colors */
  --ai-purple-200: #e2ccff;
  --ai-purple-300: #994dff;
  --ai-purple-500: #2c0066;

  --ai-blue-200: #ccdaff;
  --ai-blue-300: #3369ff;

  // neutrals
  --synth-alert-bg-neutral: var(--synth-gray-300);
  --synth-div-stroke-neutral: var(--synth-gray-400);
  --synth-header-neutral: var(--synth-gray-200);
  --synth-page-neutral: #fdfdfd;
  --synth-text-neutral: var(--synth-gray-600);
  --synth-unselected-neutral: var(--synth-gray-500);
  --synth-unselected-tab: #5B5B5B;

  // main schema - visual hierarchy
  --synth-accent-green: var(--synth-emerald-400);
  --synth-dark-background-selected-blue: var(--synth-navy-100);
  --synth-dark-background-pressed-blue: var(--synth-navy-300);
  --synth-hover-state: var(--synth-emerald-100);
  --synth-indicator-stroke-green: var(--synth-emerald-300);
  --synth-navbar-blue: var(--synth-navy-300);
  --synth-primary-cta-blue: var(--synth-navy-100);
  --synth-selected-state-green: var(--synth-emerald-200);

  // feedback and signifier colors
  --synth-hyperlink-color: var(--synth-blue-300);

  --synth-hover-blue: var(--synth-blue-100);

  --synth-header-gray-blue: #eef2f8;

  // brand colors
  --synth-brand-google: #2d8cff;

  // By Level
  --z-index-1050: 1050;
  --z-index-1045: 1045;
  --z-index-1040: 1040;
  --z-index-1030: 1030;
  --z-index-1025: 1025;
  --z-index-1020: 1020;
  --z-index-115: 115;
  --z-index-100: 100;
  --z-index-30: 30;
  --z-index-20: 20;
  --z-index-11: 11;
  --z-index-10: 10;
  --z-index-3: 3;
  --z-index-2: 2;
  --z-index-1: 1;

  // By Purpose
  --z-index-popover: var(--z-index-1050);
  --z-index-flash: var(--z-index-1045);
  --z-index-drawer: var(--z-index-1040);
  --z-index-modal-backdrop: var(
    --z-index-1040
  ); // Matches bootstrap --z-index-modal-backdrop
  --z-index-fixed: var(--z-index-1030); // Matches bootstrap --z-index-fixed
  --z-index-overlay: calc(
    var(--z-index-fixed) - 1
  ); // Sits just under --z-index-fixed
  --z-index-table-cell-sticky-column: var(
    --z-index-10
  ); // Sits under --z-index-table-foot-sticky-row
  --z-index-table-foot-sticky-row: var(
    --z-index-11
  ); // Sits above var(--z-index-table-cell-sticky-column)
  --card-width-xs: 240px;
  --card-width-sm: 512px;
  --card-width-md: 640px;
  --card-width-lg: 896px;

  // external libraries - these should be standardized to use the same synth colors
  // as other components but for now moving variable declarations here so they're all
  // in one place
  --react-loading-skeleton-base-color: #ebebeb;
  --react-loading-skeleton-highlight-color: #f5f5f5;
  --react-modal-content-box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  --react-toggle-background-color: #19ab27;
  --react-toggle-background-color-hover: #128d15;
  --react-toggle-thumb-border-color: #4d4d4d;
  --react-toggle-thumb-background-color: #fafafa;
  --react-toggle-thumb-box-shadow-color: #0099e0;

  /* Font variables */
  --synth-font-family: inter, sans-serif;

  --synth-font-size-base: 0.875rem;
  --synth-font-body-size: var(--synth-font-size-base) / 1.125rem;
  --synth-font-subtext-size: 0.75rem / 1rem;

  --synth-font-weight-regular: 400;
  --synth-font-weight-medium: 500;
  --synth-font-weight-semibold: 600;
  --synth-font-weight-bold: 700;

  --synth-font-heading-large: normal var(--synth-font-weight-bold) 1.5rem / 2rem
    var(--synth-font-family);
  --synth-font-heading-medium: normal var(--synth-font-weight-bold) 1.125rem /
    1.5rem var(--synth-font-family);
  --synth-font-heading-small: normal var(--synth-font-weight-bold) 1rem /
    1.375rem var(--synth-font-family);

  --synth-font-body-bold: normal var(--synth-font-weight-bold)
    var(--synth-font-body-size) var(--synth-font-family);
  --synth-font-body-medium: normal var(--synth-font-weight-medium)
    var(--synth-font-body-size) var(--synth-font-family);
  --synth-font-body-regular: normal var(--synth-font-weight-regular)
    var(--synth-font-body-size) var(--synth-font-family);

  --synth-font-subtext-bold: normal var(--synth-font-weight-bold)
    var(--synth-font-subtext-size) var(--synth-font-family);
  --synth-font-subtext-medium: normal var(--synth-font-weight-medium)
    var(--synth-font-subtext-size) var(--synth-font-family);
  --synth-font-subtext-regular: normal var(--synth-font-weight-regular)
    var(--synth-font-subtext-size) var(--synth-font-family);

  --synth-font-button-text: normal var(--synth-font-weight-semibold) 0.875rem /
    1.125rem var(--synth-font-family);
}
