:root {
  --ux-border-radius: 4px;

  --ux-navbar-shadow-color: #{rgba( 0, 0, 0, 0.26 )};

  --ux-box-shadow: #{0 2px 5px rgb( 0 0 0 / 26% )};
  --ux-box-shadow-light: #{0 1px 1px rgb( 0 0 0 / 26% )};
  --ux-box-shadow-card: #{0 2px 4px rgb(0 0 0 / 10%)};
  --ux-box-shadow-table-sticky-column-left: 2px 0px 1px 0px rgb(0 0 0 / 5%);
  --ux-box-shadow-table-sticky-column-right: -2px 0px 1px 0px rgb(0 0 0 / 5%);
  --ux-box-shadow-top: 0 -2px 5px rgb( 0 0 0 / 26% );
  --ux-box-shadow-top-light: 0 -1px 1px rgb( 0 0 0 / 26% );

  --ux-drawer-box-shadow-right: -4px 4px 8px rgb(0 0 0 / 10%);
  --ux-drawer-box-shadow-left: 4px 4px 8px rgb(0 0 0 / 10%);

  --ux-elevations-00: 0rem 0rem 0rem rgb(0 0 0 / 10%);
  --ux-elevations-10: 0rem 0.06rem 0.12rem rgb(0 0 0 / 10%);
  --ux-elevations-20: 0rem 0.13rem 0.3rem rgb(0 0 0 / 10%);
  --ux-elevations-30: 0rem 0.3rem 0.5rem rgb(0 0 0 / 10%);
  --ux-elevations-40: 0rem 0.4rem 0.8rem rgb(0 0 0 / 10%);
  --ux-elevations-50: 0rem 0.5rem 1rem rgb(0 0 0 / 10%);

  --ux-black: #000;
  --ux-blue: #3F6DCA;
  --ux-cream: #F8F4F2;
  --ux-emerald: #158D71;
  --ux-gray: #A1A1A1;
  --ux-green: #04713C;
  --ux-light-blue: #7CCBF2;
  --ux-navy: #011936;
  --ux-orange: #F59C27;
  --ux-purple: #725CCC;
  --ux-red: #E03131;
  --ux-sand: #DABDA2;
  --ux-teal: #0E4749;
  --ux-yellow: #F3CE14;
  --ux-white: #FFF;

  --brand-color-facebook: #3577ea;
  --brand-color-google: #DB3236;
  --brand-color-google-alt: #2D8CFF;
  --brand-color-linkedin: #0077B5;
  --brand-color-office365: #2372BA;
  --brand-color-twitter: #1B95E0;
  --brand-color-yahoo: #6001d2;

  --ux-blue-100: #F1F5FE;
  --ux-blue-200: #BDD1FB;
  --ux-blue-300: #A6C0F5;
  --ux-blue-400: #7497DF;
  --ux-blue-500: var(--ux-blue);
  --ux-blue-600: #2854AF;
  --ux-blue-700: #143C8D;
  --ux-blue-800: #0B2D72;
  --ux-blue-900: #031D52;

  --ux-emerald-100: #BFDDD5;
  --ux-emerald-200: #91CABB;
  --ux-emerald-300: #65B8A2;
  --ux-emerald-400: #3EA388;
  --ux-emerald-500: var(--ux-emerald);
  --ux-emerald-600: #177863;
  --ux-emerald-700: #156152;
  --ux-emerald-800: #0D4A3E;
  --ux-emerald-900: #073B31;

  --ux-gray-100: #F9F9F9;
  --ux-gray-200: #F1F1F1;
  --ux-gray-300: #E1E1E1;
  --ux-gray-400: #D1D1D1;
  --ux-gray-500: var(--ux-gray);
  --ux-gray-600: #818181;
  --ux-gray-700: #616161;
  --ux-gray-800: #444;
  --ux-gray-900: #101010;

  --ux-green-100: #D4F6E5;
  --ux-green-200: #A3F9CF;
  --ux-green-300: #70E2AB;
  --ux-green-400: #40CC88;
  --ux-green-500: #21B36C;
  --ux-green-600: #09914F;
  --ux-green-700: var(--ux-green);
  --ux-green-800: #015029;
  --ux-green-900: #003119;

  --ux-navy-100: #C4D0DF;
  --ux-navy-200: #A3BAD2;
  --ux-navy-300: #7396BA;
  --ux-navy-400: #40669C;
  --ux-navy-500: #234574;
  --ux-navy-600: #16325A;
  --ux-navy-700: var(--ux-navy);
  --ux-navy-800: #01152D;
  --ux-navy-900: #021020;

  --ux-neutral-100: var(--ux-white);
  --ux-neutral-200: var(--ux-cream);
  --ux-neutral-300: #E6E2E0;
  --ux-neutral-400: #CECBC9;
  --ux-neutral-500: #B5B0AB;
  --ux-neutral-600: #9A938D;
  --ux-neutral-700: #817874;
  --ux-neutral-800: #33312F;
  --ux-neutral-900: var(--ux-black);

  --ux-orange-100: #FDEAD2;
  --ux-orange-200: #FCDFB9;
  --ux-orange-300: #FAC988;
  --ux-orange-400: #F7B258;
  --ux-orange-500: var(--ux-orange);
  --ux-orange-600: #E18C28;
  --ux-orange-700: #AE6608;
  --ux-orange-800: #7D4A06;
  --ux-orange-900: #3D2200;

  --ux-red-100: #FAE1E1;
  --ux-red-200: #F3BDBD;
  --ux-red-300: #EB7A7A;
  --ux-red-400: #E44E4E;
  --ux-red-500: var(--ux-red);
  --ux-red-600: #C71F1F;
  --ux-red-700: #B11B1B;
  --ux-red-800: #9B1818;
  --ux-red-900: #470404;

  --ux-sand-100: #ECE1D4;
  --ux-sand-200: #E8DAC9;
  --ux-sand-300: #E5D2BD;
  --ux-sand-400: #DFC7AF;
  --ux-sand-500: var(--ux-sand);
  --ux-sand-600: #D4B191;
  --ux-sand-700: #CFAA86;
  --ux-sand-800: #C59B72;
  --ux-sand-900: #BA8E5E;

  --ux-teal-100: #CAE1E2;
  --ux-teal-200: #A2CBCD;
  --ux-teal-300: #85A9AA;
  --ux-teal-400: #408F91;
  --ux-teal-500: #2A7779;
  --ux-teal-600: #1C5D5F;
  --ux-teal-700: var(--ux-teal);
  --ux-teal-800: #093C3F;
  --ux-teal-900: #083236;

  --ux-yellow-100: #FFF1AB;
  --ux-yellow-200: #FFEB85;
  --ux-yellow-300: #FFE356;
  --ux-yellow-400: #FBDA36;
  --ux-yellow-500: var(--ux-yellow);
  --ux-yellow-600: #E1BE0C;
  --ux-yellow-700: #CAA900;
  --ux-yellow-800: #A98D01;
  --ux-yellow-900: #453A00;

  --ux-purple-100: #EAE6FA;
  --ux-purple-200: #DCD7F1;
  --ux-purple-300: #BDB3E5;
  --ux-purple-400: #9382D9;
  --ux-purple-500: var(--ux-purple);
  --ux-purple-600: #5642A6;
  --ux-purple-700: #42308C;
  --ux-purple-800: #34227A;
  --ux-purple-900: #120640;

  --synth-spacing-base: 4px;

  // Increments of 4 according to the 4 pixel grid system
  --synth-spacing-1: var(--synth-spacing-base); // 4px
  --synth-spacing-2: calc(var(--synth-spacing-base) * 2); // 8px
  --synth-spacing-3: calc(var(--synth-spacing-base) * 3); // 12px
  --synth-spacing-4: calc(var(--synth-spacing-base) * 4); // 16px
  --synth-spacing-5: calc(var(--synth-spacing-base) * 5); // 20px
  --synth-spacing-6: calc(var(--synth-spacing-base) * 6); // 24px
  --synth-spacing-7: calc(var(--synth-spacing-base) * 7); // 28px
  --synth-spacing-8: calc(var(--synth-spacing-base) * 8); // 32px
  --synth-spacing-9: calc(var(--synth-spacing-base) * 9); // 36px
  --synth-spacing-10: calc(var(--synth-spacing-base) * 10); // 40px
  --synth-spacing-11: calc(var(--synth-spacing-base) * 11); // 44px
  --synth-spacing-12: calc(var(--synth-spacing-base) * 12); // 48px

  /* Synthesis Colors */
  --synth-black: #000;
  --synth-white: #fff;

  --synth-navy-100: #162c4e;
  --synth-navy-200: #202b38;
  --synth-navy-300: #010812;

  --synth-emerald-100: #eef9f6;
  --synth-emerald-200: #c6e2db;
  --synth-emerald-300: #91cabb;
  --synth-emerald-400: #158d71;

  --synth-gray-100: #fff;
  --synth-gray-200: #fbfbfb;
  --synth-gray-300: #f4f4f4;
  --synth-gray-400: #dedede;
  --synth-gray-500: #5b5b5b;
  --synth-gray-600: #1b1b1b;

  /* Stop light colors */
  --synth-green-100: #d4f6e5;
  --synth-green-200: #09914f;
  --synth-green-300: #015029;

  --synth-orange-100: #f16e00;
  --synth-orange-200: #ab6408;

  --synth-red-100: #fae1e1;
  --synth-red-200: #e03131;
  --synth-red-300: #c71f1f;

  --synth-blue-100: #e5ecff;
  --synth-blue-200: #0d6efd;
  --synth-blue-300: #3f6dca;
  --synth-blue-400: #0b2d72;

  --synth-yellow-100: #fff1ab;
  --synth-yellow-200: #ffe356;
  --synth-yellow-300: #fbda36;
  --synth-yellow-400: #453a00;

  /* Expression colors */
  --synth-denim-100: #d8e7f4;
  --synth-denim-200: #225077;
  --synth-denim-300: #0b1b28;

  --synth-forest-100: #e1f4de;
  --synth-forest-200: #317326;
  --synth-forest-300: #10260d;

  --synth-ruby-100: #f9b9b9;
  --synth-ruby-200: #8d0c0c;
  --synth-ruby-300: #2f0404;

  --synth-gold-100: #fff6c9;
  --synth-gold-200: #998000;
  --synth-gold-300: #332b00;

  --synth-purple-100: #faf7ff;
  --synth-purple-200: #eee1ff;
  --synth-purple-300: #420099;
  --synth-purple-400: #160033;

  --synth-rust-100: #ffe8ca;
  --synth-rust-200: #995200;
  --synth-rust-300: #331d00;

  /* AI Feature Colors */
  --ai-purple-200: #e2ccff;
  --ai-purple-300: #994dff;
  --ai-purple-500: #2c0066;

  --ai-blue-200: #ccdaff;
  --ai-blue-300: #3369ff;

  // neutrals
  --synth-alert-bg-neutral: var(--synth-gray-300);
  --synth-div-stroke-neutral: var(--synth-gray-400);
  --synth-header-neutral: var(--synth-gray-200);
  --synth-page-neutral: #fdfdfd;
  --synth-text-neutral: var(--synth-gray-600);
  --synth-unselected-neutral: var(--synth-gray-500);
  --synth-unselected-tab: #767676;

  // main schema - visual hierarchy
  --synth-accent-green: var(--synth-emerald-400);
  --synth-dark-background-selected-blue: var(--synth-navy-100);
  --synth-dark-background-pressed-blue: var(--synth-navy-300);
  --synth-hover-state: var(--synth-emerald-100);
  --synth-indicator-stroke-green: var(--synth-emerald-300);
  --synth-navbar-blue: var(--synth-navy-300);
  --synth-primary-cta-blue: var(--synth-navy-100);
  --synth-selected-state-green: var(--synth-emerald-200);

  // feedback and signifier colors
  --synth-hyperlink-color: var(--synth-blue-300);

  --synth-hover-blue: var(--synth-blue-100);

  --synth-header-gray-blue: #eef2f8;
  --synth-font-size-base: 0.875rem;

  // brand colors
  --synth-brand-google: #2d8cff;

  // By Level
  --z-index-1050: 1050;
  --z-index-1045: 1045;
  --z-index-1040: 1040;
  --z-index-1030: 1030;
  --z-index-1025: 1025;
  --z-index-1020: 1020;
  --z-index-115: 115;
  --z-index-100: 100;
  --z-index-30: 30;
  --z-index-20: 20;
  --z-index-11: 11;
  --z-index-10: 10;
  --z-index-3: 3;
  --z-index-2: 2;
  --z-index-1: 1;

  // By Purpose
  --z-index-popover: var(--z-index-1050);
  --z-index-flash: var(--z-index-1045);
  --z-index-drawer: var(--z-index-1040);
  --z-index-modal-backdrop: var(--z-index-1040); // Matches bootstrap --z-index-modal-backdrop
  --z-index-fixed: var(--z-index-1030); // Matches bootstrap --z-index-fixed
  --z-index-overlay: calc(var(--z-index-fixed) - 1); // Sits just under --z-index-fixed
  --z-index-table-cell-sticky-column: var(--z-index-10); // Sits under --z-index-table-foot-sticky-row
  --z-index-table-foot-sticky-row: var(--z-index-11); // Sits above var(--z-index-table-cell-sticky-column)
  --card-width-xs: 240px;
  --card-width-sm: 512px;
  --card-width-md: 640px;
  --card-width-lg: 896px;

  // external libraries - these should be standardized to use the same synth colors
  // as other components but for now moving variable declarations here so they're all
  // in one place
  --react-loading-skeleton-base-color: #ebebeb;
  --react-loading-skeleton-highlight-color: #f5f5f5;
  --react-modal-content-box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  --react-toggle-background-color: #19AB27;
  --react-toggle-background-color-hover: #128D15;
  --react-toggle-thumb-border-color: #4D4D4D;
  --react-toggle-thumb-background-color: #FAFAFA;
  --react-toggle-thumb-box-shadow-color: #0099E0;

  /* Font variables */
  --synth-font-family: inter, sans-serif;

  --synth-font-weight-regular: 400;
  --synth-font-weight-medium: 500;
  --synth-font-weight-semibold: 600;
  --synth-font-weight-bold: 700;

  --synth-font-heading-large:
    normal
    var(--synth-font-weight-bold)
    1.5rem / 2rem
    var(--synth-font-family);
  --synth-font-heading-medium:
    normal
    var(--synth-font-weight-bold)
    1.125rem / 1.5rem
    var(--synth-font-family);
  --synth-font-heading-small:
    normal
    var(--synth-font-weight-bold)
    1rem / 1.375rem
    var(--synth-font-family);

  --synth-font-body-size: 0.875rem / 1.125rem;
  --synth-font-body-bold:
    normal
    var(--synth-font-weight-bold)
    var(--synth-font-body-size)
    var(--synth-font-family);
  --synth-font-body-medium:
    normal
    var(--synth-font-weight-medium)
    var(--synth-font-body-size)
    var(--synth-font-family);
  --synth-font-body-regular:
    normal
    var(--synth-font-weight-regular)
    var(--synth-font-body-size)
    var(--synth-font-family);

  --synth-font-subtext-size: 0.75rem / 1rem;
  --synth-font-subtext-bold:
    normal
    var(--synth-font-weight-bold)
    var(--synth-font-subtext-size)
    var(--synth-font-family);
  --synth-font-subtext-medium:
    normal
    var(--synth-font-weight-medium)
    var(--synth-font-subtext-size)
    var(--synth-font-family);
  --synth-font-subtext-regular:
    normal
    var(--synth-font-weight-regular)
    var(--synth-font-subtext-size)
    var(--synth-font-family);

  --synth-font-button-text:
    normal
    var(--synth-font-weight-semibold)
    0.875rem / 1.125rem
    var(--synth-font-family);
}
