// Timing functions

$ux-ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ux-ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

// Durations 

$ux-duration-brief: 80ms;
$ux-duration-short: 160ms;
$ux-duration-long: 240ms;