$synth-font-family: Inter, sans-serif;
$synth-font-weight-regular: 400;
$synth-font-weight-medium: 500;
$synth-font-weight-bold: 700;
$synth-font-size-base: 0.875rem;

@mixin synth-font-type-10() {
  font-size: .625rem;
  font-weight: $synth-font-weight-regular;
  letter-spacing: 0.0625rem;
  line-height: 0.875rem;
}

@mixin synth-font-type-20() {
  font-size: .75rem;
  font-weight: $synth-font-weight-regular;
  line-height: 1rem;
}

@mixin synth-font-type-30() {
  font-size: $synth-font-size-base;
  font-weight: $synth-font-weight-regular;
  line-height: 1.25rem;
}

@mixin synth-font-type-40() {
  font-size: 1rem;
  font-weight: $synth-font-weight-regular;
  line-height: 1.375rem;
}

@mixin synth-font-type-50() {
  font-size: 1.125rem;
  font-weight: $synth-font-weight-regular;
  line-height: 1.5rem;
}

@mixin synth-font-type-60() {
  font-size: 1.25rem;
  font-weight: $synth-font-weight-regular;
  line-height: 1.625rem;
}

@mixin synth-font-type-70() {
  font-size: 1.5rem;
  font-weight: $synth-font-weight-regular;
  line-height: 2rem;
}

@mixin synth-font-type-10--medium() {
  @include synth-font-type-10;
  font-weight: $synth-font-weight-medium;
}

@mixin synth-font-type-20--medium() {
  @include synth-font-type-20;
  font-weight: $synth-font-weight-medium;
}

@mixin synth-font-type-30--medium() {
  @include synth-font-type-30;
  font-weight: $synth-font-weight-medium;
}

@mixin synth-font-type-40--medium() {
  @include synth-font-type-40();
  font-weight: $synth-font-weight-medium;
}

@mixin synth-font-type-50--medium() {
  @include synth-font-type-50;
  font-weight: $synth-font-weight-medium;
}

@mixin synth-font-type-60--medium() {
  @include synth-font-type-60();
  font-weight: $synth-font-weight-medium;
}

@mixin synth-font-type-70--medium() {
  @include synth-font-type-70;
  font-weight: $synth-font-weight-medium;
}

@mixin synth-font-type-10--bold() {
  @include synth-font-type-10;
  font-weight: $synth-font-weight-bold;
}

@mixin synth-font-type-20--bold() {
  @include synth-font-type-20;
  font-weight: $synth-font-weight-bold;
}

@mixin synth-font-type-30--bold() {
  @include synth-font-type-30;
  font-weight: $synth-font-weight-bold;
}

@mixin synth-font-type-40--bold() {
  @include synth-font-type-40;
  font-weight: $synth-font-weight-bold;
}

@mixin synth-font-type-50--bold() {
  @include synth-font-type-50;
  font-weight: $synth-font-weight-bold;
}

@mixin synth-font-type-60--bold() {
  @include synth-font-type-60;
  font-weight: $synth-font-weight-bold;
}

@mixin synth-font-type-70--bold() {
  @include synth-font-type-70;
  font-weight: $synth-font-weight-bold;
}

// Uppercase fonts

@mixin synth-font-type-10--uppercase() {
  @include synth-font-type-10;
  text-transform: uppercase;
}

@mixin synth-font-type-10--bold-uppercase() {
  @include synth-font-type-10--uppercase;
  font-weight: $synth-font-weight-bold;
}

@mixin synth-font-type-10--medium-uppercase() {
  @include synth-font-type-10--uppercase;
  font-weight: $synth-font-weight-medium
}
