@import './colors/palette';

$font-family: Lato, Arial, sans-serif;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-size-base: .875rem;
$font-weight-bold: 700;
$headings-font-weight: 400;
$headings-font-weight-bold: 700;

@mixin font-type-100() {
  font-size: .75rem;
  font-weight: $font-weight-normal;
  line-height: 1rem;
}

@mixin font-type-200() {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.25rem;
}

@mixin font-type-300() {
  // font-size:  $font-size-base; -- should base be changed to 1 rem?
  font-size: 1rem;
  font-weight: $font-weight-normal;
  line-height: 1.5rem;
}

@mixin font-type-400() {
  font-size: 1.125rem;
  font-weight: $font-weight-normal;
  line-height: 1.75rem;
}

@mixin font-type-500() {
  font-size: 1.25rem;
  font-weight: $font-weight-normal;
  line-height: 1.75rem;
}

@mixin font-type-600() {
  font-size: 1.5rem;
  font-weight: $font-weight-normal;
  line-height: 1.75rem;
}

@mixin font-type-200--bold() {
  @include font-type-200;
  font-weight: $font-weight-bold;
}

@mixin font-type-300--bold() {
  @include font-type-300;
  font-weight: $font-weight-bold;
}

@mixin font-type-400--bold() {
  @include font-type-400;
  font-weight: $font-weight-bold;
}

@mixin font-type-500--bold() {
  @include font-type-500;
  font-weight: $headings-font-weight;
}

@mixin font-type-600--bold() {
  @include font-type-600;
  font-weight: $headings-font-weight;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $ux-gray-900;
}
