@mixin synth-font-type-10() {
  font-size: .625rem;
  font-weight: var(--synth-font-weight-regular);
  letter-spacing: 0.0625rem;
  line-height: 0.875rem;
}

@mixin font-type-10() {
  @include synth-font-type-10;
}

@mixin synth-font-type-30() {
  font-size: var(--synth-font-size-base);
  font-weight: var(--synth-font-weight-regular);
  line-height: 1.25rem;
}

@mixin font-type-30() {
  @include synth-font-type-30;
}

@mixin synth-font-type-60() {
  font-size: 1.25rem;
  font-weight: var(--synth-font-weight-regular);
  line-height: 1.625rem;
}

@mixin font-type-60() {
  @include synth-font-type-60;
}

@mixin synth-font-type-10--medium() {
  @include synth-font-type-10;

  font-weight: var(--synth-font-weight-medium);
}

@mixin font-type-10--medium() {
  @include synth-font-type-10--medium;
}

@mixin synth-font-type-30--medium() {
  @include synth-font-type-30;

  font-weight: var(--synth-font-weight-medium);
}

@mixin font-type-30--medium() {
  @include synth-font-type-30--medium;
}

@mixin synth-font-type-60--medium() {
  @include synth-font-type-60;

  font-weight: var(--synth-font-weight-medium);
}

@mixin font-type-60--medium() {
  @include synth-font-type-60--medium;
}

@mixin synth-font-type-10--bold() {
  @include synth-font-type-10;

  font-weight: var(--synth-font-weight-bold);
}

@mixin font-type-10--bold() {
  @include synth-font-type-10--bold;
}

@mixin synth-font-type-30--bold() {
  @include synth-font-type-30;

  font-weight: var(--synth-font-weight-bold);
}

@mixin font-type-30--bold() {
  @include synth-font-type-30--bold;
}

@mixin synth-font-type-60--bold() {
  @include synth-font-type-60;

  font-weight: var(--synth-font-weight-bold);
}

@mixin font-type-60--bold() {
  @include synth-font-type-60--bold;
}

// Uppercase fonts

@mixin synth-font-type-10--uppercase() {
  @include synth-font-type-10;

  text-transform: uppercase;
}

@mixin font-type-10--uppercase() {
  @include synth-font-type-10--uppercase;
}

@mixin synth-font-type-10--bold-uppercase() {
  @include synth-font-type-10--uppercase;

  font-weight: var(--synth-font-weight-bold);
}

@mixin font-type-10--bold-uppercase() {
  @include synth-font-type-10--bold-uppercase;
}

@mixin synth-font-type-10--medium-uppercase() {
  @include synth-font-type-10--uppercase;

  font-weight: var(--synth-font-weight-medium)
}

@mixin font-type-10--medium-uppercase() {
  @include synth-font-type-10--medium-uppercase;
}
