@import './colors/palette';
@import './colors/synthesis-palette';

:export {
  SYNTH_SUCCESS_GREEN_DARK: var(--synth-green-300);
  SYNTH_SUCCESS_GREEN_MEDIUM: var(--synth-green-200);
  SYNTH_SUCCESS_GREEN_LIGHT: var(--synth-green-100);

  SYNTH_ERROR_RED_DARK: var(--synth-red-300);
  SYNTH_ERROR_RED_MEDIUM: var(--synth-red-200);
  SYNTH_ERROR_RED_LIGHT: var(--synth-red-100);

  SYNTH_WARNING_AMBER_DARK: var(--synth-yellow-300);
  SYNTH_WARNING_AMBER_MEDIUM: var(--synth-yellow-200);
  SYNTH_WARNING_AMBER_LIGHT: var(--synth-yellow-100);
  SYNTH_WARNING_AMBER_ALTERNATE: var(--synth-orange-100);

  SYNTH_ALERT_BG_NEUTRAL: var(--synth-gray-300);
  SYNTH_DIV_STROKE_NEUTRAL: var(--synth-div-stroke-neutral);
  SYNTH_HEADER_NEUTRAL: var(--synth-header-neutral);
  SYNTH_PAGE_NEUTRAL: var(--synth-page-neutral);
  SYNTH_TEXT_NEUTRAL: var(--synth-gray-600);
  SYNTH_UNSELECTED_NEUTRAL: var(--synth-gray-500);

  SYNTH_ACCENT_GREEN: var(--synth-emerald-400);
  SYNTH_DARK_BACKGROUND_SELECTED_BLUE: var(--synth-dark-background-selected-blue);
  SYNTH_HOVER_STATE: var(--synth-hover-state);
  SYNTH_INDICATOR_STROKE_GREEN: var(--synth-indicator-stroke-green);
  SYNTH_NAVBAR_BLUE: var(--synth-navbar-blue);
  SYNTH_PRIMARY_CTA_BLUE: var(--synth-primary-cta-blue);
  SYNTH_SELECTED_STATE_GREEN: var(--synth-selected-state-green);

  SYNTH_HYPERLINK_COLOR: var(--synth-blue-300);

  SYNTH_HOVER_BLUE: var(--synth-hover-blue);
  SYNTH_HEADER_GRAY_BLUE: var(--synth-header-gray-blue);

  UX_BLACK: var(--ux-black);
  UX_BLUE: var(--synth-blue-300);
  UX_CREAM: var(--ux-cream);

  UX_EMERALD: var(--synth-emerald-400);
  UX_GRAY: var(--ux-gray);
  UX_GREEN: var(--ux-green);
  UX_NAVY: var(--ux-navy);
  UX_ORANGE: var(--ux-orange);
  UX_PURPLE: var(--ux-purple);
  UX_RED: var(--synth-red-200);
  UX_TEAL: var(--ux-teal);
  UX_YELLOW: var(--ux-yellow);
  UX_WHITE: var(--ux-white);

  UX_BLUE_100: var(--ux-blue-100);
  UX_BLUE_200: var(--ux-blue-200);
  UX_BLUE_300: var(--ux-blue-300);
  UX_BLUE_400: var(--ux-blue-400);
  UX_BLUE_500: var(--ux-blue-500);
  UX_BLUE_600: var(--ux-blue-600);
  UX_BLUE_700: var(--ux-blue-700);
  UX_BLUE_800: var(--synth-blue-400);
  UX_BLUE_900: var(--ux-blue-900);

  UX_EMERALD_100: var(--ux-emerald-100);
  UX_EMERALD_200: var(--ux-emerald-200);
  UX_EMERALD_300: var(--ux-emerald-300);
  UX_EMERALD_400: var(--ux-emerald-400);
  UX_EMERALD_500: var(--synth-emerald-400);
  UX_EMERALD_600: var(--ux-emerald-600);
  UX_EMERALD_700: var(--ux-emerald-700);
  UX_EMERALD_800: var(--ux-emerald-800);

  UX_GRAY_100: var(--ux-gray-100);
  UX_GRAY_200: var(--ux-gray-200);
  UX_GRAY_300: var(--ux-gray-300);
  UX_GRAY_400: var(--ux-gray-400);
  UX_GRAY_500: var(--ux-gray-500);
  UX_GRAY_600: var(--ux-gray-600);
  UX_GRAY_700: var(--ux-gray-700);
  UX_GRAY_800: var(--ux-gray-800);
  UX_GRAY_900: var(--ux-gray-900);

  UX_GREEN_100: var(--ux-green-100);
  UX_GREEN_200: var(--ux-green-200);
  UX_GREEN_300: var(--ux-green-300);
  UX_GREEN_500: var(--ux-green-500);
  UX_GREEN_600: var(--synth-green-200);
  UX_GREEN_700: var(--ux-green-700);
  UX_GREEN_800: var(--synth-green-300);
  UX_GREEN_900: var(--ux-green-900);

  UX_NAVY_100: var(--ux-navy-100);
  UX_NAVY_200: var(--ux-navy-200);
  UX_NAVY_300: var(--ux-navy-300);
  UX_NAVY_400: var(--ux-navy-400);
  UX_NAVY_500: var(--ux-navy-500);
  UX_NAVY_600: var(--ux-navy-600);
  UX_NAVY_700: var(--ux-navy-700);
  UX_NAVY_800: var(--ux-navy-800);
  UX_NAVY_900: var(--ux-navy-900);

  UX_NEUTRAL_100: var(--ux-white);
  UX_NEUTRAL_200: var(--ux-cream);

  UX_NEUTRAL_300: var(--ux-neutral-300);
  UX_NEUTRAL_400: var(--ux-neutral-400);
  UX_NEUTRAL_900: var(--ux-black);

  UX_ORANGE_100: var(--ux-orange-100);
  UX_ORANGE_200: var(--ux-orange-200);
  UX_ORANGE_300: var(--ux-orange-300);
  UX_ORANGE_400: var(--ux-orange-400);
  UX_ORANGE_500: var(--ux-orange-500);
  UX_ORANGE_600: var(--ux-orange-600);
  UX_ORANGE_700: var(--ux-orange-700);
  UX_ORANGE_800: var(--ux-orange-800);
  UX_ORANGE_900: var(--ux-orange-900);

  UX_RED_100: var(--ux-red-100);
  UX_RED_200: var(--ux-red-200);
  UX_RED_300: var(--ux-red-300);
  UX_RED_400: var(--ux-red-400);
  UX_RED_500: var(--ux-red-500);
  UX_RED_600: var(--synth-red-300);
  UX_RED_700: var(--ux-red-700);
  UX_RED_800: var(--ux-red-800);
  UX_RED_900: var(--ux-red-900);

  UX_YELLOW_100: var(--ux-yellow-100);
  UX_YELLOW_200: var(--ux-yellow-200);
  UX_YELLOW_300: var(--ux-yellow-300);
  UX_YELLOW_400: var(--ux-yellow-400);
  UX_YELLOW_500: var(--ux-yellow-500);
  UX_YELLOW_800: var(--ux-yellow-800);
  UX_YELLOW_900: var(--ux-yellow-900);
}
