/* ========================================
  Add z-index variable declarations here.
  Name according to level.

  If you defined a usage specific z-index variable,
  make sure it is referencing a level-named variable.
======================================== */

// Note look to update `z_stack.js` when changing these

// By Level
$z-index-1050: 1050;
$z-index-1045: 1045;
$z-index-1040: 1040;
$z-index-1030: 1030;
$z-index-1025: 1025;
$z-index-1020: 1020;

$z-index-115: 115;
$z-index-100: 100;

$z-index-30: 30;
$z-index-20: 20;
$z-index-11: 11;
$z-index-10: 10;
$z-index-3: 3;
$z-index-2: 2;
$z-index-1: 1;

// By Purpose
$z-index-popover: $z-index-1050;
$z-index-flash: $z-index-1045;
$z-index-drawer: $z-index-1040;
$z-index-modal-backdrop: $z-index-1040; // Matches bootstrap $zindex-modal-backdrop
$z-index-fixed: $z-index-1030; //Matches bootstrap $zindex-fixed
$z-index-overlay: $z-index-fixed - 1; // Sits just under $z-index-fixed
$z-index-table-cell-sticky-column: $z-index-10; // Sits under $z-index-table-foot-sticky-row
$z-index-table-foot-sticky-row: $z-index-11; // Sits above $z-index-table-cell-sticky-column
