.Option {
  display: flex;
  align-items: center;

  .Checkbox {
    margin-right: var(--synth-spacing-3);
  }

  .TitleDescriptionContainer {
    display: flex;
    flex-direction: column;

    .Description {
      color: var(--ux-gray-800);
    }
  }
}
