@import '../../scss/theme';

// Note: react-select is largely styled via css-in-js, not SCSS.
// However, we need to only provide the styles below when the "Synthesized"
// class is present on the body in rails server

.Synthesized .Select__menu {
  .Select__option:hover,
  .Select__option--is-focused {
    background-color: var(--synth-hover-state);
  }

  .Select__option--is-selected,
  .Select__option--is-selected:hover {
    background-color: var(--synth-selected-state-green);
  }
}

.Select__control {
  .Select__multi-value__label,
  .Select__multi-value__remove {
    color: var(--synth-green-300);
  }

  .Select__multi-value__remove:hover {
    background-color: var(--synth-selected-state-green);
    color: var(--synth-green-300);
  }

  .Select__multi-value {
    background-color: var(--synth-hover-state);
  }
}
