// Keep these default styles below.
// This is copied from https://github.com/dvtng/react-loading-skeleton/blob/master/src/skeleton.css
// We have some conflicting order webpack issues when used on 'rails-server'

@keyframes react-loading-skeleton {
  100% {
      transform: translateX(100%);
  }
}

// Per https://github.com/dvtng/react-loading-skeleton/issues/23#issuecomment-939231878
.loadingSkeletonContainer {
  line-height: 1;
}

.react-loading-skeleton {
  --base-color: var(--react-loading-skeleton-base-color);
  --highlight-color: var(--react-loading-skeleton-highlight-color);
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */

  background-color: var(--base-color);
  width: 100%;
  border-radius: var(--ux-border-radius);
  display: inline-flex;
  line-height: 1;
  position: relative;
  overflow: hidden;
  z-index: 1; /* Necessary for overflow: hidden to work correctly in Safari */
}

.react-loading-skeleton::after {
  content: ' ';
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      90deg,
      var(--base-color),
      var(--highlight-color),
      var(--base-color)
  );
  transform: translateX(-100%);
  animation-name: react-loading-skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
