@import '../../scss/theme.scss';

.Header {
  align-items: center;
  background: var(--ux-gray-900);
  color: var(--ux-white);
  display: flex;
  height: $ui-header-height;
  padding: $synth-spacing-4;

  > div:first-child {
    @include synth-font-type-60--bold;
    flex-grow: 1;
  }

  &__controls {
    > :not(:last-child) {
      margin-right: $synth-spacing-2;
    }
  }
}
