@import "../../scss/theme.scss";

.pagination {
  @include font-type-20;
  margin: 0;

  .page-item {
    margin-left: $ux-spacing-10;
    margin-right: $ux-spacing-10;
    .page-link {
      padding: .375rem .5rem; // double check this padding
    }

    &:not(.disabled) .page-link {
      color: $ux-green; // is this right? $ux-researcher
    }

    &.disabled .page-link {
      color: $ux-gray-400;
    }

    &.active .page-link {
      background-color: $ux-green; // is this right? 
      border-color: $ux-green; // is this right?
      color: $ux-white;
    }
  }
}

.pagination--participant {
  .page-item {
    &:not(.disabled) .page-link {
      color: $ux-blue; // $ux-participant ?
    }

    &.active .page-link {
      background-color: $ux-blue; // $ux-participant ?
      border-color: $ux-blue; // $ux-participant ?
    }
  }
}
