.large {
  font: var(--synth-font-heading-large);
}

.xxl {
  font-size: 1.25rem;
  font-weight: var(--synth-font-weight-bold);
  line-height: 1.625rem;
}

.medium {
  font: var(--synth-font-heading-medium);
}

.small {
  font: var(--synth-font-heading-small);
}

.md {
  font-size: var(--synth-font-size-base);
  font-weight: var(--synth-font-weight-bold);
  line-height: 1.25rem;
}

.sm {
  font-size: .75rem;
  font-weight: var(--synth-font-weight-bold);
  line-height: 1rem;
}

.xs {
  font-size: .625rem;
  font-weight: var(--synth-font-weight-bold);
  letter-spacing: 0.0625rem;
  line-height: 0.875rem;
}

.bold {
  font-weight: var(--synth-font-weight-bold);
}

.medium {
  font-weight: var(--synth-font-weight-medium);
}

.regular {
  font-weight: var(--synth-font-weight-regular);
}
