@import '../../scss/theme';

.Heading {
  &--xxxl {
    @include synth-font-type-70--bold;
  }

  &--xxl {
    @include synth-font-type-60--bold;
  }

  &--xl {
    @include synth-font-type-50--bold;
  }

  &--lg {
    @include synth-font-type-40--bold;
  }

  &--md {
    @include synth-font-type-30--bold;
  }

  &--sm {
    @include synth-font-type-20--bold;
  }

  &--xs {
    @include synth-font-type-10--bold;
  }


  // Weight 

  &--bold {
    font-weight: var(--synth-font-weight-bold);
  }

  &--medium {
    font-weight: var(--synth-font-weight-medium);
  }

  &--regular {
    font-weight: var(--synth-font-weight-regular);
  }
}
