.large {
  font: var(--synth-font-heading-large);
}

.medium {
  font: var(--synth-font-heading-medium);
}

.small {
  font: var(--synth-font-heading-small);
}

.text {
  font: var(--synth-font-body-bold);
}

.subtext {
  font: var(--synth-font-subtext-bold);
}

.bold {
  font-weight: var(--synth-font-weight-bold);
}

.medium {
  font-weight: var(--synth-font-weight-medium);
}

.regular {
  font-weight: var(--synth-font-weight-regular);
}
