.sizeLarge {
  font: var(--synth-font-heading-large);
}

.sizeMedium {
  font: var(--synth-font-heading-medium);
}

.sizeSmall {
  font: var(--synth-font-heading-small);
}

.sizeText {
  font: var(--synth-font-body-bold);
}

.sizeSubtext {
  font: var(--synth-font-subtext-bold);
}

.weightBold {
  font-weight: var(--synth-font-weight-bold);
}

.weightMedium {
  font-weight: var(--synth-font-weight-medium);
}

.weightRegular {
  font-weight: var(--synth-font-weight-regular);
}
