@import '../../scss/theme';

.IconCell {
  align-items: center;
  background: $ux-blue-200;
  border-radius: 50%;
  color: $ux-blue-700;
  display: flex;
  font-size: 1rem;
  height: 44px;
  justify-content: center;
  margin-right: 16px;
  width: 44px;
}
