@import '../../scss/typography';

.TypographyRow {
  background-color: var(--synth-white);
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  min-height: 216px;

  ul {
    list-style: none;
  }
}

.TypographyRow__Example {
  flex: 0 0 62.5%;
  max-width: 66.7%;
  padding-right: 15%;
  padding: 16px;
  width: 66.7%;
}

.TypographyRow__Specs {
  border-left: 1px solid var(--synth-div-stroke-neutral);
  display: block;
  flex: 0 0 37.5%;
  max-width: 33.3%;
  padding: 16px 24px;
  width: 33.3%;

  li {
    min-height: 24px;
  }
}

.font-type-header-page {
  font: var(--synth-font-heading-large);
}

.font-type-header-section {
  font: var(--synth-font-heading-medium);
}

.font-type-body {
  @include synth-font-type-30;
}

.font-type-subtext {
  font: var(--synth-font-subtext-regular);
}

.font-type-subtext--medium {
  font: var(--synth-font-subtext-medium);
}

.font-type-subtext--bold {
  font: var(--synth-font-subtext-bold);
}

.font-type-small-caps {
  @include synth-font-type-10--uppercase;
}

.font-type-small-caps--medium {
  @include synth-font-type-10--medium-uppercase;
}

.font-type-small-caps--bold {
  @include synth-font-type-10--bold-uppercase;
}
