@import 'scss/typography';

.TypographyRow {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  min-height: 13.5rem;

  ul {
    list-style: none;
  }
}

.TypographyRow__Example {
  flex: 0 0 62.5%;
  max-width: 66.7%;
  padding-right: 15%;
  padding: 1rem;
  width: 66.7%;
}

.TypographyRow__Specs {
  border-left: 1px solid #e0e0e0;
  display: block;
  flex: 0 0 37.5%;
  max-width: 33.3%;
  padding: 1rem 1.5rem;
  width: 33.3%;

  li {
    min-height: 1.5rem;
  }
}

.font-type-header-page {
  @include synth-font-type-70--bold;
}

.font-type-header-section {
  @include synth-font-type-50--bold;
}

.font-type-body {
  @include synth-font-type-30;
}

.font-type-subtext {
  @include synth-font-type-20;
}

.font-type-subtext--medium {
  @include synth-font-type-20--medium;
}

.font-type-subtext--bold {
  @include synth-font-type-20--bold;
}

.font-type-small-caps {
  @include synth-font-type-10--uppercase;
}

.font-type-small-caps--medium {
  @include synth-font-type-10--medium-uppercase;
}

.font-type-small-caps--bold {
  @include synth-font-type-10--bold-uppercase;
}
