@import '../../scss/theme';

.Text {
  // Size

  &--lg {
    @include synth-font-type-40;
  }

  &--md {
    @include synth-font-type-30;
  }

  &--sm {
    font: var(--synt-font-subtext-regular);
  }

  // Weight

  &--bold {
    font-weight: var(--synth-font-weight-bold);
  }

  &--semibold {
    font-weight: var(--synth-font-weight-semibold);
  }

  &--medium {
    font-weight: var(--synth-font-weight-medium);
  }

  &--regular {
    font-weight: var(--synth-font-weight-regular);
  }
}
