@import '../../scss/theme';

.ModalHeader {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: $ux-spacing-50;

  &__title {
    font-family: $font-family;
    font-size: 1.25rem;
    font-weight: $font-weight-bold;
    margin-bottom: 0;

    &--has-icon {
      display: flex;
      align-items: center;
    }

    .warning {
      color: $ux-yellow-600;
      margin-right: $ux-spacing-20;
    }

    .danger {
      color: $ux-red-400;
      margin-right: $ux-spacing-20;
    }
  }

  &__subtitle {
    font-family: $font-family;
    font-size: 0.875rem;
    font-weight: $font-weight-normal;
    margin-bottom: 0;
    margin-top: 0.875rem; // to-do: double check margins for subtitles
  }

  &__close-button {
    padding: $ux-spacing-40;
    margin: -1rem -1rem -1rem 0;
  }
}
