@import '../../scss/theme';

.ReactModal {
  &__Body--open {
    overflow: hidden;
  }

  &__Content {
    background-color: var(--synth-white);
    border-radius: var(--ux-border-radius);
    box-shadow: $modal-content-box-shadow-xs;
    box-shadow: var(--react-modal-content-box-shadow);
    font-weight: 400;
    max-height: 100%;
    overflow: auto;
    transform: translate(0, -25%);
    transition: transform $ux-duration-long ease-in;
    width: $modal-width-small;

    &.ReactModal--medium {
      width: $modal-width-medium;
    }

    &.ReactModal--large {
      width: $modal-width-large;
    }

    // Bootstrap has the following reset:
    //
    //   [tabindex="-1"]:focus { outline: 0 !important; };
    //
    // That would cover our needs here, but it’s maybe a surprising default and
    // I think it ought be made explicit.

    &:focus {
      outline: none;
    }

    &--after-open:not(&--before-close) {
      transform: translate(0, 0);
      transition-timing-function: $ux-ease-out-circ;
    }

    // The content children (typically one div) must never be wider than the
    // parent, since this would always mean overflowing the viewport.

    > * {
      max-height: 95vh;
      max-width: 100%;
      overflow-y: auto;
    }
  }

  // The overlay uses the jQuery modal z-index because the layout must remain
  // compatible with the jQuery modal’s layout expectations. If jQuery modal is
  // removed, we can isolate #ui-window-root instead and z-index will not be
  // needed.

  &__Overlay {
    align-items: center;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    opacity: 0;
    padding: var(--synth-spacing-6);
    transition: opacity $ux-duration-short linear;
    z-index: var(--z-index-modal-backdrop);

    @media (width <= 512px) {
      padding: var(--synth-spacing-4);
    }

    &--after-open:not(&--before-close) {
      opacity: 1;
    }
  }
}
