@import '../../scss/theme';

.ModalHeader {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: var(--synth-spacing-6);
  padding-bottom: var(--synth-spacing-2);

  &__title {
    font-family: var(--synth-font-family);

    @include synth-font-type-60--bold;

    margin-bottom: 0;

    &--has-icon {
      display: flex;
      align-items: center;
    }

    .warning {
      color: var(--ux-yellow-600);
      margin-right: var(--synth-spacing-2);
    }

    .danger {
      color: var(--ux-red-400);
      margin-right: var(--synth-spacing-2);
    }
  }

  &__subtitle {
    font-family: var(--synth-font-family);

    @include synth-font-type-30;

    margin-bottom: 0;
    margin-top: var(--synth-spacing-2);
  }
}
