@import '../../scss/theme';

.ModalHeader {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: $synth-spacing-6;
  padding-bottom: $synth-spacing-2;

  &__title {
    font-family: $synth-font-family;
    @include synth-font-type-60--bold();
    margin-bottom: 0;

    &--has-icon {
      display: flex;
      align-items: center;
    }

    .warning {
      color: $ux-yellow-600;
      margin-right: $synth-spacing-2;
    }

    .danger {
      color: $ux-red-400;
      margin-right: $synth-spacing-2;
    }
  }

  &__subtitle {
    font-family: $synth-font-family;
    @include synth-font-type-30;
    margin-bottom: 0;
    margin-top: $synth-spacing-2;
  }
}
