@import '../../scss/theme';

.ModalBody {
  font-weight: var(--synth-font-weight-regular);
  padding: var(--synth-spacing-2) var(--synth-spacing-6) var(--synth-spacing-4);

  &__title {
    font-family: var(--synth-font-family);
    font-size: var(--synth-font-size-base);
    font-weight: var(--synth-font-weight-medium);
    margin-bottom: var(--synth-spacing-1);
  }
}
