@import '../../scss/theme';

.ModalBody {
  font-weight: $synth-font-weight-regular;
  padding: $synth-spacing-2 $ux-spacing-50 $synth-spacing-4;

  &__title {
    font-family: $synth-font-family;
    font-size: $synth-font-size-base;
    font-weight: $synth-font-weight-medium;
    margin-bottom: $synth-spacing-1;
  }
}
