@use '../../scss/theme' as *;
@use '../../scss/forms/control_button_group' as *;

.CheckboxButtonGroup {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: $synth-spacing-2;
  }

  &--row {
    @include row-control-group;
  }

  &--column--full-width {
    width: 100%;
  }
}
