@import '../../scss/theme';

.CheckboxButton {
  border: 1px solid $ux-gray-400;
  border-radius: $ux-border-radius;
  cursor: pointer;
  padding: 0.3125rem 0.625rem;
  margin-right: 0.5rem;

  display: flex;
  align-items: center;

  &__input {
    margin-right: 0.5rem;
  }

  &__label {
    @include font-type-30
  }

  &--active {
    background-color: $ux-blue-100;
  }
}
