@import '../../scss/theme';
@import '../../scss/borders';
@import '../../scss/forms/control_button_group';

.CheckboxButtonGroup {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: $ux-spacing-02;
  }

  &--row {
   @include row-control-group;
  }
}
