@import '../../scss/theme';

.RichTextEditor {
  width: 100%;

  .RichTextEditor__character-count {
    @include synth-font-type-20;

    margin-top: 8px;
  }
}


.RichTextEditor__field--error {
  .ProseMirror {
    border-color: var(--ux-red-600);
  }
}

.ProseMirror {
  min-height: 80px;
  background: var(--ux-neutral-100);
  border: 1px solid var(--ux-gray-400);
  border-radius: 0 0 var(--ux-border-radius) var(--ux-border-radius);
  padding: 16px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border: 1px solid var(--ux-blue-500);
    box-shadow: $input-focus-box-shadow;
    color: $input-focus-color;
    outline: none;
  }

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 16px;
  }

  li > p {
    margin: 0;
  }

  p.is-editor-empty:first-child::before {
    color: var(--ux-gray-700);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

.RichTextEditor__field--without-menu-bar .ProseMirror {
  border-radius: var(--ux-border-radius);
}
