@import '../../scss/theme';

.RichTextEditor__TemplateVariables__Items {
  background-color: $ux-white;
  border-radius: $ux-border-radius;
  border: 1px solid $synth-div-stroke-neutral;
  max-height: 200px;
  overflow: auto;
  padding: $ux-spacing-20 0;
}

.RichTextEditor__TemplateVariables__Item {
  @include synth-font-type-30;
  background: $ux-white;
  border: 0;
  color: $ux-gray-900;
  outline: 0;
  padding: $synth-spacing-1 $ux-spacing-40;
  text-align: left;
  width: 100%;
}

.RichTextEditor__TemplateVariables__Item:active, 
.RichTextEditor__TemplateVariables__Item:hover,
.RichTextEditor__TemplateVariables__Item:focus,
.RichTextEditor__TemplateVariables__Item--selected {
  &:not(.RichTextEditor__TemplateVariables__Item--no-results) {
    background-color: $synth-hover-state;
    text-decoration: none;
  }
}
