@import '../../scss/theme';

$step-circle-size: 40px;
$text-container-margin-top: 10px;

.Step {
  display: grid;
  grid-template-columns: $step-circle-size auto;
  grid-template-rows: auto auto;

  &__circle {
    grid-column-start: 1;
    grid-row-start: 1;
    background: var(--ux-white);
    border: 1px solid var(--ux-emerald-600);
    border-radius: 50%;
    height: 0;
    width: 100%;
    padding-bottom: 95%;
    position: relative;
    z-index: 1;

    &__number {
      @include synth-font-type-40--bold;

      color: var(--ux-emerald-600);
      float: left;
      line-height: 1;
      margin-top: -8px;
      padding-top: 50%;
      text-align: center;
      width: 100%;
    }
  }

  // removes last line
  &:last-of-type {
    .Step__text-container {
      border-left: none;
    }
  }

  &__text-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    position: relative;

    // translates the text-container so that border is centered with circle
    right: 20px;
    min-height: ($step-circle-size * 2) - var(--synth-spacing-3);
    border-left: 1px solid var(--ux-emerald-600);

    // centers text container with step circle
    margin-top: $text-container-margin-top;
    
    // provides padding bottom between steps
    padding-bottom: var(--synth-spacing-3);

    &__text {
      margin-left: var(--synth-spacing-8);
    }
  }
}

