@import '../../scss/theme';

$primary: $ux-emerald-600;
$danger: $ux-red;
$warning: $ux-yellow-400; 

.DropdownToggle {
  @include synth-font-type-30--bold;

  &--unstyled {
    all: unset;
  }

  i, svg {
    &.icon-left {
      margin-right: var(--synth-spacing-2);
    }
  }

  &.btn-sm {
    border-radius: var(--ux-border-radius);
  }

  &.btn-primary {
    @include btn-primary;

    &:focus {
      background: var(--ux-emerald-600);
    }

    &.show:focus {
      background: var(--ux-emerald-700);
    }
  }

  &.btn-outline-primary {
    @include btn-outline-primary;
  }

  &.btn-danger {
    @include btn-danger;

    &:focus {
      background: var(--ux-red-500);
    }

    &.show:focus {
      background: var(--ux-red-700);
    }
  }
  
  &.btn-outline-danger {
    @include btn-outline-danger;
  }
  
  &.btn-warning {
    @include btn-warning;

    &:focus {
      background: var(--ux-yellow-400);
    }

    &.show:focus {
      background: var(--ux-yellow-600);
    }
  }
  
  &.btn-outline-warning {
    @include btn-outline-warning;
  }

  &.btn-transparent {
    @include btn-transparent;

    &:focus {
      background: transparent;
    }

    &.show:focus {
      background: var(--ux-gray-400);
    }
  }

  &.btn-outline-transparent {
    @include btn-outline-transparent;
  }
}

.Synthesized {
  .DropdownToggle {
    &.btn-primary {
      @include synthesis-btn-primary;
    }

    &.btn-outline-primary {
      @include synthesis-btn-outline-primary;
    }
  }
}
