@import '../../scss/theme';

.DropdownItem {
  @include synth-font-type-30;
  color: var(--ux-gray-900);

  &:hover {
    background-color: var(--synth-hover-state);
    text-decoration: none;
  }

  &:focus {
    background-color: var(--synth-selected-state-green);
    color: var(--ux-gray-900);
  }
}

.DropdownItemIcon {
  margin-right: $synth-spacing-2;
}
