@import '../../scss/theme.scss';

.Typography {

  // Heading

  &--heading3xl {
    @include font-type-70--bold;
  }

  &--heading2xl {
    @include font-type-60--bold;
  }

  &--headingXl {
    @include font-type-50--bold;
  }

  &--headingLg {
    @include font-type-40--bold;
  }

  &--headingMd {
    @include font-type-30--bold;
  }

  &--headingSm {
    @include font-type-20--bold;
  }

  &--headingXs {
    @include font-type-10--bold;
  }

  // Body

  &--bodyLg {
    @include font-type-40;
  }

  &--bodyMd {
    @include font-type-30;
  }

  &--bodySm {
    @include font-type-20;
  }

  // Weight 

  &--bold {
    font-weight: $font-weight-bold;
  }

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--regular {
    font-weight: $font-weight-regular;
  }
}
