@import '../../scss/colors';
@import '../../scss/spacing.scss';

.Tooltip {
  &__icon {
    color: $ux-blue-500;
    cursor: pointer;
    margin-left: $synth-spacing-2;
    margin-right: $synth-spacing-2;
    vertical-align: middle;

    &--neutral {
      color: $ux-gray-800;
    }

    &--warning {
      color: $synth-warning-amber-alternate;
    }

    &--error {
      color: $synth-error-red-medium;
    }
  }

  &__icon:focus {
    outline: none;

    svg {
      box-shadow: 0 0 4px 3px;
      border-radius: 16px;
    }
  }
}

