@import '../../scss/colors';
@import '../../scss/spacing.scss';

.Tooltip {
  &__icon {
    color: $ux-blue-500;
    cursor: pointer;
    margin-left: $ux-spacing-02;
    margin-right: $ux-spacing-02;
    vertical-align: middle;

    &--gray {
      color: $ux-gray-800;
    }

    &--primary {
      color: $ux-green;
    }
  }
}
