@import '../../scss/colors';
@import '../../scss/spacing.scss';

.Tooltip {
  &__icon {
    color: var(--ux-blue-500);
    cursor: pointer;
    margin-left: $synth-spacing-2;
    margin-right: $synth-spacing-2;
    vertical-align: middle;

    &--neutral {
      color: var(--ux-gray-800);
    }

    &--warning {
      color: var(--synth-warning-amber-alternate);
    }

    &--error {
      color: var(--synth-error-red-medium);
    }
  }
}

