@use '../../scss/theme' as *;

.tabs {
  border-bottom: 1px solid var(--synth-div-stroke-neutral);
  align-items: flex-end;

  :global(.nav-link),
  :global(.nav-link.disabled) {
    color: var(--synth-unselected-tab);
    font:
      400 0.875rem/1.25rem Inter,
      sans-serif;
    text-decoration: none;
    border: none;
    border-radius: var(--ds-border-radius-none);
    border-bottom: 1px solid var(--synth-div-stroke-neutral);
    position: relative;
    margin-bottom: -1px;
    padding: 6px 12px;
  }

  :global(.nav-link.active) {
    font-weight: var(--synth-font-weight-bold);
  }

  :global(.nav-link.active),
  :global(.nav-link:hover),
  :global(.nav-link:active),
  :global(.nav-link:focus) {
    color: var(--synth-gray-600);
    border-bottom: 3px solid var(--synth-indicator-stroke-green);
  }

  .flexWrapUnset {
    flex-wrap: nowrap;
  }

  .navItemButtonFullHeight {
    :global(.nav-item .button) {
      height: calc(100% + 1px);
    }
  }
}
