@import './palette';

$input-border-color: $ux-gray-400; // Override bootstrap default
$input-disabled-bg: $ux-gray-300; // Override bootstrap default

$input-focus-border-color: $ux-blue-300;
$input-btn-focus-color: $ux-blue-300;
