@mixin mod-rainbow($selector: '', $lighten: 0%, $color: #fff) {
  &.ui-mod #{$selector} {
    color: $color;
  }

  &.ui-mod--0 #{$selector} {
    background-color: var(--ux-gray-300);
    color: var(--ux-gray-800);
  }

  &.ui-mod--1 #{$selector} {
    background-color: var(--ux-green-300);
    color: var(--ux-green-900);
  }

  &.ui-mod--2 #{$selector} {
    background-color: var(--ux-orange-200);
    color: var(--ux-orange-900);
  }

  &.ui-mod--3 #{$selector} {
    background-color: var(--ux-yellow-300);
    color: var(--ux-yellow-900);
  }

  &.ui-mod--4 #{$selector} {
    background-color: var(--ux-red-200);
    color: var(--ux-red-900);
  }

  &.ui-mod--5 #{$selector} {
    background-color: var(--ux-purple-200);
    color: var(--ux-purple-900);
  }
}
