// DEPRECATED -- use css_properties.scss
// The only reason these variables still exist is because they are currently in use by Sass mixins.
// They can be iteratively removed as we continue to kill Sass.


$ux-blue: #3F6DCA;
$ux-emerald: #158D71;
$ux-gray: #A1A1A1;
$ux-red: #E03131;
$ux-teal: #0E4749;
$ux-yellow: #F3CE14;
$ux-white: #FFFFFF;
$brand-color-facebook: #3577ea;
$brand-color-google: #DB3236;
$brand-color-google-alt: #2D8CFF;
$brand-color-linkedin: #0077B5;
$brand-color-office365: #2372BA;
$brand-color-twitter: #1B95E0;
$ux-blue-300: #A6C0F5;
$ux-blue-500: $ux-blue;
$ux-blue-600: #2854AF;
$ux-blue-800: #0B2D72;
$ux-emerald-600: #177863;
$ux-emerald-700: #156152;
$ux-emerald-800: #0D4A3E;
$ux-gray-300: #E1E1E1;
$ux-gray-400: #D1D1D1;
$ux-gray-700: #616161;
$ux-gray-800: #444444;
$ux-gray-900: #101010;
$ux-red-600: #C71F1F;
$ux-red-700: #B11B1B;
$ux-teal-600: #1C5D5F;
$ux-teal-700: $ux-teal;
$ux-teal-800: #093C3F;
$ux-yellow-400: #FBDA36;
$ux-yellow-500: $ux-yellow;
$ux-yellow-600: #E1BE0C;
$ux-yellow-900: #453A00;
