// DEPRECATED -- use css_properties.scss
// The only reason these variables still exist is because they are currently in use by Sass mixins.
// They can be iteratively removed as we continue to kill Sass.

$ux-blue: #3f6dca;
$ux-emerald: #158d71;
$ux-gray: #a1a1a1;
$ux-red: #e03131;
$ux-teal: #0e4749;
$ux-yellow: #f3ce14;
$ux-white: #fff;
$brand-color-facebook: #3577ea;
$brand-color-google: #db3236;
$brand-color-google-alt: #2d8cff;
$brand-color-linkedin: #0a66c2;
$brand-color-office365: #2372ba;
$brand-color-twitter: #1b95e0;
$ux-blue-300: #a6c0f5;
$ux-blue-500: $ux-blue;
$ux-blue-600: #2854af;
$ux-blue-800: #0b2d72;
$ux-emerald-600: #177863;
$ux-emerald-700: #156152;
$ux-emerald-800: #0d4a3e;
$ux-gray-300: #e1e1e1;
$ux-gray-400: #d1d1d1;
$ux-gray-700: #616161;
$ux-gray-800: #444;
$ux-gray-900: #101010;
$ux-red-600: #c71f1f;
$ux-red-700: #b11b1b;
$ux-teal-600: #1c5d5f;
$ux-teal-700: $ux-teal;
$ux-teal-800: #093c3f;
$ux-yellow-400: #fbda36;
$ux-yellow-500: $ux-yellow;
$ux-yellow-600: #e1be0c;
$ux-yellow-900: #453a00;
