// DEPRECATED -- use css_properties.scss
// The only reason these variables still exist is because they are currently in use by Sass mixins.
// They can be iteratively removed as we continue to kill Sass.

$synth-unselected-neutral: #5b5b5b;
$synth-dark-background-selected-blue: #162c4e;
$synth-dark-background-pressed-blue: #010812;
$synth-primary-cta-blue: #162c4e;
$synth-hyperlink-color: #3f6dca;
