// stoplight color system
$synth-success-green-dark: #015029;
$synth-success-green-medium: #09914f;
$synth-success-green-light: #d4f6e5;

$synth-error-red-dark: #c71f1f;
$synth-error-red-medium: #e03131;
$synth-error-red-light: #fae1e1;

$synth-warning-amber-dark: #fbda36;
$synth-warning-amber-medium: #ffe356;
$synth-warning-amber-light: #fff1ab;
$synth-warning-amber-alternate: #f59c27;

// neutrals
$synth-alert-bg-neutral: #f4f4f4;
$synth-div-stroke-neutral: #dedede;
$synth-header-neutral: #fbfbfb;
$synth-page-neutral: #fdfdfd;
$synth-text-neutral: #1b1b1b;
$synth-unselected-neutral: #5b5b5b;

// main schema - visual hierarchy
$synth-accent-green: #158d71;
$synth-dark-background-selected-blue: #162c4e;
$synth-hover-state: #eef9f6;
$synth-indicator-stroke-green: #91cabb;
$synth-navbar-blue: #010812;
$synth-primary-cta-blue: #162c4e;
$synth-selected-state-green: #c6e2db;

// feedback and signifier colors
$synth-hyperlink-color: #3f6dca;

$synth-hover-blue: #e5ecff;
$synth-header-gray-blue: #eef2f8;
