@import '../../scss/theme';

.DrawerBackgroundOverlay {
  position: fixed;
  inset: 0;
  background: var(--synth-black);
  z-index: var(--z-index-modal-backdrop);
  opacity: 0;
  pointer-events: none;
  transition: 200ms linear;
}

.DrawerBackgroundOverlay--active {
  opacity: 0.5;
  pointer-events: auto;
}

.Drawer {
  @media (min-width: $drawer-width-small) {
    &--sm {
      width: $drawer-width-small
    }
  }

  @media (min-width: $drawer-width-medium) {
    &--md {
      width: $drawer-width-medium;
    }
  }

  @media (min-width: $drawer-width-large) {
    &--lg {
      width: $drawer-width-large;
    }
  }

  $block: #{&};

  background-color: var(--ux-white);
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  transition: 200ms ease-out;
  z-index: var(--z-index-drawer);
  display: flex;
  flex-direction: column;

  &--open {
    overflow: hidden;
  }

  &--behind-nav {
    padding-top: 48px;
  }

  &--expanded {
    width: 90%;
  }

  &--right {
    right: -100%;

    &#{$block}--visible {
      right: 0;
      box-shadow: var(--ux-drawer-box-shadow-right);
    }
  }

  &--left {
    left: -100%;

    &#{$block}--visible {
      left: 0;
      box-shadow: var(--ux-drawer-box-shadow-left);
    }
  }
}

@media (prefers-reduced-motion) {
  .Drawer {
    transition: none;
  }

  .DrawerBackgroundOverlay {
    transition: none;
  }
}
