.DrawerFooter {
  align-items: center;
  background-color: var(--ux-gray-100);
  display: flex;
  justify-content: space-between;
  padding: var(--synth-spacing-4);

  &__actions {
    > :not(:first-child) {
      margin-left: var(--synth-spacing-1);
    }

    > :not(:last-child) {
      margin-right: var(--synth-spacing-1);
    }
  }
}
