@import '../../scss/theme';

.Drawer {
  &__header {
    align-items: center;
    padding-bottom: var(--synth-spacing-4);
    display: flex;
    justify-content: space-between;
    margin: var(--synth-spacing-8);
    margin-bottom: 0;

    &--bordered {
      border-bottom: 1px solid var(--ux-neutral-400);
    }
  }

  &__header-action {
    font: var(--synth-font-heading-small);
    font-weight: var(--synth-font-weight-regular);
    border: none;
    background: transparent;
    color: var(--ux-gray-700);
  }

  &__title {
    @include synth-font-type-70--bold;

    color: var(--ux-gray-900);
  }
}
