@import '../../scss/theme.scss';

.DrawerFooter {
  align-items: center;
  background-color: $ux-gray-100;
  display: flex;
  justify-content: space-between;
  padding: $ux-spacing-40;

  &__actions {
    > :not(:first-child) {
      margin-left: $ux-spacing-10;
    }

    > :not(:last-child) {
      margin-right: $ux-spacing-10;
    }
  }
}
