@import '../../scss/theme.scss';

.Drawer {
  &__header {
    align-items: center;
    padding-bottom: $synth-spacing-4;
    display: flex;
    justify-content: space-between;
    margin: $synth-spacing-8;
    margin-bottom: 0;

    &--bordered {
      border-bottom: 1px solid $ux-neutral-400;
    }
  }

  &__header-action {
    @include synth-font-type-40;

    border: none;
    background: transparent;
    color: $ux-gray-700;
  }

  &__title {
    @include synth-font-type-70--bold;

    color: $ux-gray-900;
  }
}
