@import '../../scss/theme';

.Card {
  background-color: $ux-white;
  border: none;
  border-radius: 0.25rem;
  box-shadow: $ux-elevations-20;
  outline-color: $ux-green-500;
  padding: $card-spacing;

  max-width: 100%;

  &__divider {
    border-top: 1px solid rgba(0,0,0,.1);

    margin-bottom: $ux-spacing-20;
    margin-top: $ux-spacing-10;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
  }

  &__helper-text {
    @include font-type-50;
    color: $ux-gray-900;
    margin-left: $ux-spacing-10;
  }

  &__subtitle {
    @include font-type-30;
    color: $ux-gray-800;
  }

  &__title {
    @include font-type-50--bold;
    margin-bottom: $ux-spacing-10;
  }

  &--divided {
    .Card__title {
      margin-bottom: 0;
    }
  }

  &--no-padding {
    padding: 0;
  }

  &--lg {
    @include media-breakpoint-up(sm) {
      max-width: $card-width;
    }
  }

  &--md {
    @include media-breakpoint-up(sm) {
      max-width: $card-width-md;
    }
  }

  &--sm {
    @include media-breakpoint-up(sm) {
      max-width: $card-width-sm;
    }
  }

  &--xs {
    @include media-breakpoint-up(sm) {
      max-width: $card-width-xs;
    }

    .Card__helper-text {
      margin-left: 0;
      margin-bottom: $ux-spacing-20;
    }
  }
}
