@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '../../scss/theme';

$card-xs-spacing: 1rem;
$card-sm-spacing: 1.25rem;
$card-spacing: 1.5rem;
$card-width: 56rem;
$card-width-md: 40rem;
$card-width-sm: 32rem;
$card-width-xs: 15rem;

.Card {
  background-color: $ux-white;
  border: none;
  border-radius: 0.25rem;
  box-shadow: $ux-elevations-20;
  margin: $card-spacing auto;
  outline-color: $ux-green-500;
  padding: $card-spacing;

  width: calc(100% - #{$card-xs-spacing});

  @include media-breakpoint-up(sm) {
    width: calc(100% - 2rem);
  }

  &__divider {
    border-top: 1px solid rgba(0,0,0,.1);

    margin-bottom: $ux-spacing-20;
    margin-top: $ux-spacing-10;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
  }

  &__helper-text {
    @include font-type-50--light;
    color: $ux-gray-900;
    margin-left: $ux-spacing-10;
  }

  &__subtitle {
    @include font-type-30--light;
    color: $ux-gray-800;
  }

  &__title {
    @include font-type-50--bold;
    margin-bottom: $ux-spacing-10;
  }

  &--divided {
    .Card__title {
      margin-bottom: 0;
    }
  }

  &--no-padding {
    padding: 0;
  }

  &--md {
    @include media-breakpoint-up(sm) {
      max-width: $card-width-md;
    }
  }

  &--sm {
    @include media-breakpoint-up(sm) {
      max-width: $card-width-sm;
    }
  }

  &--xs {
    @include media-breakpoint-up(sm) {
      max-width: $card-width-xs;
    }

    .Card__helper-text {
      margin-left: 0;
      margin-bottom: $ux-spacing-20;
    }
  }
}
