@import '../../scss/theme';

.Synthesized {
  .Card {
    border: 1px solid var(--ux-gray-400);
    box-shadow: none;
  }
}

.Card {
  background-color: var(--ux-white);
  border: none;
  border-radius: var(--ux-border-radius);
  box-shadow: var(--ux-elevations-20);
  outline-color: var(--ux-green-500);
  padding: $card-spacing;
  max-width: 100%;

  &__divider {
    border-top: 1px solid rgb(0 0 0 / 10%);
    margin-bottom: var(--synth-spacing-2);
    margin-top: var(--synth-spacing-1);
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
  }

  &__helper-text {
    font: var(--synth-font-heading-medium);
    font-weight: var(--synth-font-weight-regular);

    color: var(--ux-gray-900);
    margin-left: var(--synth-spacing-1);
  }

  &__subtitle {
    @include synth-font-type-30;

    color: var(--ux-gray-800);
  }

  &__title {
    font: var(--synth-font-heading-medium);
    margin-bottom: var(--synth-spacing-1);
  }

  &__loading-skeleton-paragraphs:not(:last-child) {
    margin-bottom: var(--synth-spacing-4);
  }

  &--divided {
    .Card__title {
      margin-bottom: 0;
    }
  }

  &--no-padding {
    padding: 0;
  }

  &--lg {
    @include media-breakpoint-up(sm) {
      max-width: var(--card-width-lg);
    }
  }

  &--md {
    @include media-breakpoint-up(sm) {
      max-width: var(--card-width-md);
    }
  }

  &--sm {
    @include media-breakpoint-up(sm) {
      max-width: var(--card-width-sm);
    }
  }

  &--xs {
    @include media-breakpoint-up(sm) {
      max-width: var(--card-width-xs);
    }

    .Card__helper-text {
      margin-left: 0;
      margin-bottom: var(--synth-spacing-2);
    }
  }
}
