@import '../../scss/theme';

.Synthesized {
  .Card {
    border: 1px solid $ux-gray-400;
    box-shadow: none;
  }
}

.Card {
  background-color: $ux-white;
  border: none;
  border-radius: 4px;
  box-shadow: $ux-elevations-20;
  outline-color: $ux-green-500;
  padding: $card-spacing;

  max-width: 100%;

  &__divider {
    border-top: 1px solid rgba(0,0,0,.1);

    margin-bottom: $synth-spacing-2;
    margin-top: $synth-spacing-1;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
  }

  &__helper-text {
    @include synth-font-type-50;
    color: $ux-gray-900;
    margin-left: $synth-spacing-1;
  }

  &__subtitle {
    @include synth-font-type-30;
    color: $ux-gray-800;
  }

  &__title {
    @include synth-font-type-50--bold;
    margin-bottom: $synth-spacing-1;
  }

  &__loading-skeleton-paragraphs:not(:last-child) {
    margin-bottom: $synth-spacing-4;
  }

  &--divided {
    .Card__title {
      margin-bottom: 0;
    }
  }

  &--no-padding {
    padding: 0;
  }

  &--lg {
    @include media-breakpoint-up(sm) {
      max-width: $card-width;
    }
  }

  &--md {
    @include media-breakpoint-up(sm) {
      max-width: $card-width-md;
    }
  }

  &--sm {
    @include media-breakpoint-up(sm) {
      max-width: $card-width-sm;
    }
  }

  &--xs {
    @include media-breakpoint-up(sm) {
      max-width: $card-width-xs;
    }

    .Card__helper-text {
      margin-left: 0;
      margin-bottom: $synth-spacing-2;
    }
  }
}
