@import '../../scss/theme';

.Accordion {
  background-color: $ux-white;
  border: 1px solid $ux-gray-400;
  border-radius: $ux-border-radius;
  cursor: pointer;
  padding: $ux-spacing-40;

  &--borderless {
    background-color: inherit;
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid $ux-gray-400;
    box-shadow: unset;
  }

  &--expanded {
    border-radius: $ux-border-radius $ux-border-radius 0 0;
  }
}
