@import '../../scss/theme';

.AccordionItem {
  background-color: var(--ux-white);
  border: 1px solid var(--ux-gray-400);

  &:first-of-type {
    border-top-left-radius: var(--ux-border-radius);
    border-top-right-radius: var(--ux-border-radius);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--ux-border-radius);
    border-bottom-right-radius: var(--ux-border-radius);
  }

  &--borderless {
    border: none;
  }
}
