@import '../../scss/theme';

.ToggleInput {
  &__label {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 0;
    font-weight: var(--synth-font-weight-bold);
    color: var(--ux-gray-900);

    &--disabled {
      opacity: 0.5;
    }

    :last-child {
      margin-left: 8px;
    }

    .react-toggle-track {
      height: 20px;
      width: 40px;
    }

    .react-toggle-thumb {
      height: 16px;
      width: 16px;
      top: 2px;
      left: 2px;
      border: none;
    }

    .react-toggle--focus {
      border-radius: 12px;
      outline: 2px solid var(--ux-blue-500);
      outline-offset: 2px;

      .react-toggle-thumb {
        box-shadow: none;
      }
    }

    .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
      box-shadow: none;
    }

    .react-toggle--checked .react-toggle-track {
      background-color: var(--ux-green-600);

      &:hover {
        background-color: var(--ux-green);
      }
    }

    .react-toggle-track-check {
      left: -2px;
    }

    .react-toggle-track-x {
      right: 14px;
    }

    .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
      background-color: var(--ux-green);
    }

    .react-toggle--checked .react-toggle-thumb {
      border-color: var(--ux-green-600);
      left: 22px;

      &:hover {
        border-color: var(--ux-green);
      }
    }
  }
}

// Keep these default styles below.
// This is copied from https://github.com/aaronshaf/react-toggle/blob/master/style.css
// We have some webpack resolve issues on '@import '~react-toggle/style.css' 

.react-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  transition: all 0.2s ease;
  transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.25s ease;
  transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0 0 3px 2px #0099E0;
  box-shadow: 0 0 3px 2px #0099E0;
  box-shadow: 0 0 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: 0 0 5px 5px #0099E0;
  box-shadow: 0 0 5px 5px #0099E0;
  box-shadow: 0 0 5px 5px #0099E0;
}
