@import '../../scss/theme';

.MoneyInput {
  @include synth-font-type-30;

  &:focus {
    border: 1px solid $ux-blue-500;
    box-shadow: $input-focus-box-shadow;
    color: $input-focus-color;
  }
}
