@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/alert';

@import '../../scss/theme';

.AlertMessage {
  font-weight: 500;
  border-radius: .25rem;
  margin-bottom: 1rem;
  padding: .75rem 1.25rem;
  position: relative;
  border: 1px solid transparent;

  &__title {
    font-size: .875rem;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.AlertMessage-success {
  background-color: $ux-green-200;
  color: $ux-green-800;
  border: 1px solid $ux-green-400;

  .close {
    color: $ux-green-800;
  }
}

.AlertMessage-info {
  background-color: $ux-blue-100;
  color: $ux-blue-700;
  border: 1px solid $ux-blue-200;

  .close {
    color: $ux-blue-700;
  }
}

.AlertMessage-warning {
  background-color: $ux-yellow-100;
  color: $ux-yellow-800;
  border: 1px solid $ux-yellow-600;

  .close {
    color: $ux-yellow-800;
  }
}

.AlertMessage-error {
  background-color: $ux-red-100;
  color: $ux-red-800;
  border: 1px solid $ux-red-600;

  .close {
    color: $ux-red-800;
  }
}
