@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '../../scss/theme';

$top-padding: 1.25rem;

.Flash {
  position: fixed;
  top: $top-padding + $ui-navbar-height;
  right: 0rem;
  transform: translateX(-50%);
  width: 18.75rem;

  z-index: $z-index-flash;

  @include media-breakpoint-down(sm) {
    top: $top-padding + $ui-navbar-height-mobile;
  }

  &--no-header {
    top: $top-padding;
  }
}
