@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/alert';

@import '../../scss/theme';

$top-padding: 1.25rem;
// Flash colors
$ux-flash-error: $ux-red-100;
$ux-flash-error-border: $ux-red-200;

.Flash {
  position: fixed;
  top: $top-padding + $ui-navbar-height;
  left: 50%;
  transform: translateX(-50%);

  z-index: $z-index-flash;

  @include media-breakpoint-down(sm) {
    top: $top-padding + $ui-navbar-height-mobile;
  }

  &--no-header {
    top: $top-padding;
  }
}

.alert {
  font-weight: 500;
}

.alert-info {
  @extend .alert-warning;
}

.alert-error {
  @extend .alert-danger;

  background-color: $ux-flash-error;
  border-color: $ux-flash-error-border;
}
