@import '../../scss/theme';

.ProfileCell {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0;

  &__content {
    @mixin truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__name__container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__trailing_icon {
      color: var(--ux-gray-800);
      margin-left: 4px;
    }

    &__name {
      @include synth-font-type-30--bold;
      @include truncate;

      color: var(--ux-gray-900);
      margin: 0;
    }

    &__subtitle {
      font: var(--synt-font-subtext-regular);
      @include truncate;

      color: var(--ux-gray-900);

      * {
        @include truncate;
      }
    }
  }

  &__image {
    align-items: center;
    display: flex;
    margin-right: var(--synth-spacing-4);
  }

  &--large {
    .ProfileCell__content {
      &__name {
        @include synth-font-type-40--bold;
      }

      &__subtitle {
        @include synth-font-type-30;
      }
    }
  }
}
