@import '../../scss/theme.scss';

.TableRow {
  &:hover {
    background-color: $ux-gray-100;
  }

  &--clickable {
    cursor: pointer;
  }

  &--selected {
    background-color: $ux-blue-100 !important;
  }
}
