@import '../../scss/theme';

.TableRow {
  &:hover:not(.TableRow--remove-hover) {
    td {
      background-color: var(--ux-gray-100);
    }
  }

  &--clickable {
    cursor: pointer;
  }

  &--selected {
    td {
      background-color: var(--ux-blue-100);
    } 

    &:hover {
      td {
        background-color: var(--ux-blue-200);
      }
    }
  }
}
