@import '../../scss/theme.scss';

.TableCell {
  @include synth-font-type-30;
  border-bottom: 1px solid var(--ux-gray-200);
  overflow: hidden;
  padding: $synth-spacing-6;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  &__header {
    @include synth-font-type-30--bold;
    background-color: var(--ux-gray-100);
    border-bottom: none;
    color: var(--ux-gray-800);
    padding: $synth-spacing-6;
    text-align: left;
    white-space: nowrap;
  }

  &--remove-border-bottom {
    border-bottom: none;
  }

  &--compact {
    padding: $synth-spacing-3 $synth-spacing-6;
    max-height: 52px;
  }

  &--right {
    text-align: right;
  }

  &--sticky-column {
    position: sticky; 
    background: var(--ux-white);
    z-index: $z-index-table-cell-sticky-column;

    &--corner {
      background-color: var(--ux-gray-100);
      z-index: $z-index-20 !important;
    }

    &--left {
      box-shadow: var(--ux-box-shadow-table-sticky-column-left);
    }

    &--right {
      box-shadow: var(--ux-box-shadow-table-sticky-column-right);
    }
  }

  &--sticky-row {
    position: sticky;
    top: 0;
    z-index: $z-index-1;
  }

  &--sticky-row-bottom {
    position: sticky;
    bottom: 0;
    z-index: 11;
  }
}
