@import '../../scss/theme.scss';

.TableCell {
  @include font-type-30--light();
  border-bottom: 0.06rem solid #EDEDED;
  padding: $ux-spacing-50;
  text-align: left;

  &__header {
    @include font-type-30--bold();
    background-color: $ux-gray-100 !important;
    color: $ux-gray-800;
    padding: $ux-spacing-50;
    text-align: left;
    white-space: nowrap;
  }

  &--compact {
    padding: $ux-spacing-40 $ux-spacing-50;
    max-height: 3.25rem;
  }

  &--right {
    text-align: right;
  }

  &--sticky-column {
    position: sticky; 
    left: 0;
    background: $ux-white;
    box-shadow: $ux-elevations-50;
    z-index: $z-index-10;

    &--corner {
      z-index: $z-index-20 !important;
    }
  }

  &--sticky-row {
    position: sticky;
    top: 0;
    z-index: $z-index-1;
  }
}