.CardButton {
  background: var(--ux-white);
  border: 1px solid #d1d1d1;
  border-radius: var(--ux-border-radius);
  color: inherit;
  padding: 2.5rem;
  text-align: center;
  text-decoration: none;
}

.CardButton:hover {
  background: #fbfbfb;
  color: inherit;
  text-decoration: none;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

@media (min-width: 576px) {
  .xs {
    max-width: var(--card-width-xs);
  }
}

@media (min-width: 576px) {
  .sm {
    max-width: var(--card-width-sm);
  }
}

@media (min-width: 576px) {
  .md {
    max-width: var(--card-width-md);
  }
}

@media (min-width: 576px) {
  .lg {
    max-width: var(--card-width-lg);
  }
}

.full {
  width: 100%;
}