@import '../../scss/theme';

.PopoverBody {
  background-color: var(--ux-white);
  border-radius: var(--ux-border-radius);
  padding: var(--synth-spacing-4);

  &--card {
    padding: $card-spacing;
  }
}
