@import '../../scss/theme';

.Popover {
  box-shadow: var(--ux-elevations-20);
  border: 1px solid var(--ux-gray-400);
  border-radius: var(--ux-border-radius);
  max-width: unset;
  z-index: var(--z-index-popover);

  .popover-arrow {
    display: none;
  }

  &--sm {
    min-width: var(--card-width-sm);
  }

  &--md {
    min-width: var(--card-width-md);
  }
}
