@import '../../scss/theme';

.Avatar {
  position: relative;
  display: inline-block;
  height: 2.75rem;
  width: 2.75rem;

  &__alert {
     background-color: $ux-red-400;
     border: 0.125rem solid $ux-white;
     border-radius: 50%;
     height: 0.75rem;
     position: absolute;
     top: 0;
     right: 0;
     width: 0.75rem;
  }

  &__circle {
    @include mod-rainbow;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    background-color: $ux-blue;
    border-radius: 50%;
    color: $ux-white;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    text-align: center;
    width: 100%;

    &__initials {
      @include font-type-30--bold;
      display: inline-block;
      vertical-align: middle;
    }

    > img {
      height: 100%;
      width: 100%;
    }
  }

  &--large {
    height: 5rem;
    width: 5rem;

    .Avatar {
      &__circle__initials {
        @include font-type-70--bold;
      }
      &__alert {
        height: 1.36rem;
        width: 1.36rem;
      }
    }
  }
}
