@import '../../scss/theme';

.Avatar {
  position: relative;
  display: inline-block;
  height: $avatar-small-height;
  width: $avatar-small-width;

  &__alert {
     background-color: var(--ux-red-400);
     border: 2px solid var(--ux-white);
     border-radius: 50%;
     height: 12px;
     position: absolute;
     top: 0;
     right: 0;
     width: 12px;
  }

  &__circle {
    @include mod-rainbow;

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    background-color: var(--synth-blue-300);
    border-radius: 50%;
    color: var(--ux-white);
    display: inline-block;
    height: 100%;
    overflow: hidden;
    text-align: center;
    width: 100%;

    &__initials {
      @include synth-font-type-30--bold;

      display: inline-block;
      vertical-align: middle;
    }

    > img {
      height: 100%;
      width: 100%;
    }
  }

  &--large {
    height: $avatar-large-height;
    width: $avatar-large-width;

    .Avatar {
      &__circle__initials {
        font: var(--synth-font-heading-large);
      }

      &__alert {
        height: 22px;
        width: 22px;
      }
    }
  }
}
