@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '../../scss/theme';

.Toast {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translateX(-10%);
  width: 19rem;

  z-index: $z-index-flash;

  @include media-breakpoint-down(sm) {
    bottom: 0;
    transform: translateX(0%);
    padding: $ux-spacing-20;
    width: 100vw;
  }
}
