@import '../../scss/theme';

.Toast {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translateX(-10%);
  width: 19rem;

  z-index: $z-index-flash;

  @include media-breakpoint-down(sm) {
    bottom: 0;
    transform: translateX(0%);
    padding: $ux-spacing-20;
    width: 100vw;
  }
  
  .Alert {
    box-shadow: $ux-elevations-20;

    // explicitly sets grid template areas based on Alert.scss
    // the CTA action will always be below the Toast content
    grid-template-areas: 
    'icon content content close'
    'icon action action close';

    &__action {
      margin-top: 0.25rem;
      justify-content: flex-start;
    }
  }

  .Alert-success {
    border-left: 0.5rem solid $ux-green-400;
  }

  .Alert-info {
    border-left: 0.5rem solid $ux-blue-300;
  }

  .Alert-announcement {
    border-left: 0.5rem solid $ux-blue-300;
  }

  .Alert-warning {
    border-left: 0.5rem solid $ux-yellow-600;
  }  

  .Alert-error {
    border-left: 0.5rem solid $ux-red-400;
  }
}
