@import '../../scss/theme';

.Toast {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translateX(-10%);
  width: 304px;

  z-index: var(--z-index-flash);

  @include media-breakpoint-down(sm) {
    bottom: 0;
    transform: translateX(0%);
    padding: var(--synth-spacing-2);
    width: 100vw;
  }
  
  .Alert {
    box-shadow: var(--ux-elevations-20);
    padding: var(--synth-spacing-3) 20px;
    
    // explicitly sets grid template areas based on Alert.scss
    // the CTA action will always be below the Toast content
    grid-template-areas: 
    'icon content content close'
    'icon action action close';

    &__action {
      margin-top: 4px;
      justify-content: flex-start;
    }
  }
}
