/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --ds-border-width-stroke-none: 0px;
  --ds-border-width-stroke-xs: 1px;
  --ds-border-width-stroke-sm: 2px;
  --ds-border-width-stroke-lg: 4px;
  --ds-border-width-stroke-xl: 6px;
  --ds-border-width-stroke-x-xl: 8px;
  --ds-border-width-stroke-x-xs: 0.5px;
}