/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --ds-border-radius-none: 0px;
  --ds-border-radius-2-xs: 2px;
  --ds-border-radius-xs: 4px;
  --ds-border-radius-sm: 6px;
  --ds-border-radius-md: 8px;
  --ds-border-radius-lg: 12px;
  --ds-border-radius-xl: 16px;
  --ds-border-radius-2-xl: 24px;
  --ds-border-radius-round: 999px;
}