/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --ds-color-navy-50: #f2f6fc;
  --ds-color-navy-100: #d8e7f4;
  --ds-color-navy-200: #bfd2ee;
  --ds-color-navy-300: #99b7e2;
  --ds-color-navy-400: #7ba1d5;
  --ds-color-navy-500: #5c8ac8;
  --ds-color-navy-600: #356daf;
  --ds-color-navy-700: #225077;
  --ds-color-navy-800: #1a3c6d;
  --ds-color-navy-900: #162c4e;
  --ds-color-navy-950: #202b38;
  --ds-color-navy-1000: #010812;
  --ds-color-emerald-50: #f5fcfa;
  --ds-color-emerald-100: #eef9f6;
  --ds-color-emerald-200: #ddf0eb;
  --ds-color-emerald-300: #c6e2db;
  --ds-color-emerald-400: #abd6cb;
  --ds-color-emerald-500: #91cabb;
  --ds-color-emerald-600: #4dab93;
  --ds-color-emerald-700: #158d71;
  --ds-color-emerald-800: #0d715a;
  --ds-color-emerald-900: #045443;
  --ds-color-emerald-950: #034033;
  --ds-color-emerald-1000: #022b23;
  --ds-color-green-50: #f0fcf6;
  --ds-color-green-100: #e6faf0;
  --ds-color-green-200: #d4f6e5;
  --ds-color-green-300: #ace6c9;
  --ds-color-green-400: #80d6ab;
  --ds-color-green-500: #4ec288;
  --ds-color-green-600: #22a865;
  --ds-color-green-700: #09914f;
  --ds-color-green-800: #05783e;
  --ds-color-green-900: #026131;
  --ds-color-green-950: #015029;
  --ds-color-green-1000: #00331a;
  --ds-color-orange-50: #fff5e8;
  --ds-color-red-50: #fff2f2;
  --ds-color-blue-50: #f2f6ff;
  --ds-color-neutrals-white: #ffffff;
  --ds-color-neutrals-50: #fbfbfb;
  --ds-color-neutrals-100: #f4f4f4;
  --ds-color-neutrals-200: #ededed;
  --ds-color-neutrals-300: #dedede;
  --ds-color-neutrals-400: #b8b8b8;
  --ds-color-neutrals-500: #8f8f8f;
  --ds-color-neutrals-600: #7b7b7b;
  --ds-color-neutrals-700: #5b5b5b;
  --ds-color-neutrals-800: #4d4d4d;
  --ds-color-neutrals-900: #353535;
  --ds-color-neutrals-950: #272727;
  --ds-color-neutrals-1000: #1b1b1b;
  --ds-color-yellow-50: #fffbe7;
  --ds-color-yellow-100: #fff6c9;
  --ds-color-yellow-200: #fff1ab;
  --ds-color-yellow-300: #ffea80;
  --ds-color-yellow-400: #ffe356;
  --ds-color-yellow-500: #fbda36;
  --ds-color-yellow-600: #ccaf21;
  --ds-color-yellow-700: #998000;
  --ds-color-yellow-800: #736106;
  --ds-color-yellow-900: #453a00;
  --ds-color-yellow-950: #332b00;
  --ds-color-yellow-1000: #1f1a00;
  --ds-color-blue-100: #e5ecff;
  --ds-color-blue-200: #ccdaff;
  --ds-color-blue-300: #8aa8e5;
  --ds-color-blue-400: #4e8af2;
  --ds-color-blue-500: #0d6efd;
  --ds-color-blue-600: #3f6dc9;
  --ds-color-blue-700: #2a56ad;
  --ds-color-blue-800: #18408f;
  --ds-color-blue-900: #0b2d72;
  --ds-color-blue-950: #082257;
  --ds-color-blue-1000: #04163b;
  --ds-color-red-100: #fae1e1;
  --ds-color-red-200: #f9b9b9;
  --ds-color-red-300: #f08686;
  --ds-color-red-400: #eb5c5c;
  --ds-color-red-500: #e03131;
  --ds-color-red-600: #d12828;
  --ds-color-red-700: #b81d1d;
  --ds-color-red-800: #8d0c0c;
  --ds-color-red-900: #760a0a;
  --ds-color-red-950: #5e0808;
  --ds-color-red-1000: #2f0404;
  --ds-color-orange-100: #ffe8ca;
  --ds-color-orange-200: #ffdeb2;
  --ds-color-orange-300: #ffc57c;
  --ds-color-orange-400: #ffab45;
  --ds-color-orange-500: #ff9212;
  --ds-color-orange-600: #eb8209;
  --ds-color-orange-700: #f16e00;
  --ds-color-orange-800: #ab6408;
  --ds-color-orange-900: #995200;
  --ds-color-orange-950: #663800;
  --ds-color-orange-1000: #331d00;
  --ds-color-forest-50: #f1faf0;
  --ds-color-forest-100: #e1f4de;
  --ds-color-forest-200: #c5e4c0;
  --ds-color-forest-300: #a9d4a2;
  --ds-color-forest-400: #79b46f;
  --ds-color-forest-500: #519346;
  --ds-color-forest-600: #418336;
  --ds-color-forest-700: #317326;
  --ds-color-forest-800: #296020;
  --ds-color-forest-900: #204d1a;
  --ds-color-forest-950: #183913;
  --ds-color-forest-1000: #10260d;
  --ds-color-purple-50: #faf7ff;
  --ds-color-purple-100: #eee1ff;
  --ds-color-purple-200: #e2ccff;
  --ds-color-purple-300: #c293ff;
  --ds-color-purple-400: #ac6dff;
  --ds-color-purple-500: #994dff;
  --ds-color-purple-600: #801eff;
  --ds-color-purple-700: #6800f0;
  --ds-color-purple-800: #5400c2;
  --ds-color-purple-900: #420099;
  --ds-color-purple-950: #2c0066;
  --ds-color-purple-1000: #160033;
  --ds-color-documentation-pink-specs: #df1896;
  --ds-color-documentation-purple-code: #5440b8;
  --ds-color-documentation-beige-background: #f8f8f7;
  --ds-color-typography-header-normal: var(--ds-color-neutrals-1000);
  --ds-color-typography-body-normal: var(--ds-color-neutrals-1000);
  --ds-color-typography-subtext-dark: var(--ds-color-neutrals-1000);
  --ds-color-typography-body-subcopy: var(--ds-color-neutrals-800);
  --ds-color-typography-subtext-light: var(--ds-color-neutrals-700);
  --ds-color-typography-body-placeholder: var(--ds-color-neutrals-700);
  --ds-color-typography-success-lighter: var(--ds-color-green-700);
  --ds-color-typography-success-darker: var(--ds-color-green-950);
  --ds-color-typography-warning-default: var(--ds-color-orange-1000);
  --ds-color-typography-error-default: var(--ds-color-red-600);
  --ds-color-typography-error-dark: var(--ds-color-red-950);
  --ds-color-typography-hyperlink-default: var(--ds-color-blue-600);
  --ds-color-typography-hyperlink-hover: var(--ds-color-blue-800);
  --ds-color-typography-expression-gold: var(--ds-color-yellow-950);
  --ds-color-typography-expression-rust: var(--ds-color-orange-1000);
  --ds-color-typography-expression-ruby: var(--ds-color-red-1000);
  --ds-color-typography-expression-forest: var(--ds-color-forest-1000);
  --ds-color-typography-expression-purple: var(--ds-color-purple-900);
  --ds-color-typography-expression-gray: var(--ds-color-neutrals-1000);
  --ds-color-typography-expression-denim: var(--ds-color-navy-1000);
  --ds-color-surface-neutral-canvas-base: var(--ds-color-neutrals-white);
  --ds-color-icon-feedback-white: var(--ds-color-neutrals-white);
  --ds-color-icon-feedback-info: var(--ds-color-blue-600);
  --ds-color-icon-feedback-success: var(--ds-color-green-700);
  --ds-color-icon-feedback-warning: var(--ds-color-orange-700);
  --ds-color-icon-feedback-error: var(--ds-color-red-500);
  --ds-color-border-card-normal: var(--ds-color-neutrals-300);
  --ds-color-border-card-focus: var(--ds-color-blue-600);
  --ds-color-border-divider-normal: var(--ds-color-neutrals-300);
  --ds-color-border-feedback-info: var(--ds-color-blue-600);
  --ds-color-border-feedback-warning: var(--ds-color-orange-700);
  --ds-color-border-feedback-error: var(--ds-color-red-600);
  --ds-color-border-feedback-success: var(--ds-color-green-700);
  --ds-color-border-table-normal: var(--ds-color-neutrals-300);
  --ds-color-border-form-lighter: var(--ds-color-neutrals-300);
  --ds-color-surface-neutral-canvas-level-1: var(--ds-color-neutrals-50);
  --ds-color-surface-neutral-canvas-level-2: var(--ds-color-neutrals-100);
  --ds-color-surface-neutral-canvas-overlay: var(--ds-color-neutrals-1000);
  --ds-color-border-form-darker: var(--ds-color-neutrals-600);
  --ds-color-surface-action-primary-default: var(--ds-color-navy-900);
  --ds-color-surface-expression-blue-default: var(--ds-color-blue-50);
  --ds-color-surface-expression-denim-default: var(--ds-color-navy-100);
  --ds-color-surface-action-secondary-hover: var(--ds-color-navy-900);
  --ds-color-surface-action-secondary-active: var(--ds-color-navy-1000);
  --ds-color-border-action-secondary-default: var(--ds-color-navy-900);
  --ds-color-typography-action-secondary-light: var(--ds-color-neutrals-white);
  --ds-color-typography-action-secondary-default: var(--ds-color-navy-900);
  --ds-color-surface-action-primary-hover: var(--ds-color-navy-950);
  --ds-color-surface-action-primary-active: var(--ds-color-navy-1000);
  --ds-color-surface-action-primary-focus: var(--ds-color-navy-900);
  --ds-color-surface-action-primary-inactive: var(--ds-color-navy-900);
  --ds-color-surface-action-primary-loading: var(--ds-color-navy-900);
  --ds-color-border-form-focused: var(--ds-color-blue-500);
  --ds-color-surface-neutral-base: var(--ds-color-neutrals-white);
  --ds-color-surface-neutral-level-1: var(--ds-color-neutrals-50);
  --ds-color-surface-neutral-level-2: var(--ds-color-neutrals-100);
  --ds-color-surface-neutral-level-3: var(--ds-color-neutrals-200);
  --ds-color-typography-action-primary-default: var(--ds-color-neutrals-white);
  --ds-color-surface-action-tertiary-hover: var(--ds-color-neutrals-100);
  --ds-color-surface-action-tertiary-active: var(--ds-color-neutrals-300);
  --ds-color-typography-action-tertiary-default: var(--ds-color-neutrals-700);
  --ds-color-typography-action-tertiary-dark: var(--ds-color-neutrals-1000);
  --ds-color-typography-action-link-default: var(--ds-color-blue-600);
  --ds-color-typography-action-link-medium: var(--ds-color-blue-700);
  --ds-color-typography-action-link-dark: var(--ds-color-blue-950);
  --ds-color-surface-action-danger-default: var(--ds-color-red-600);
  --ds-color-surface-action-danger-hover: var(--ds-color-red-700);
  --ds-color-surface-action-danger-active: var(--ds-color-red-800);
  --ds-color-surface-action-danger-focus: var(--ds-color-red-600);
  --ds-color-surface-action-danger-inactive: var(--ds-color-red-600);
  --ds-color-surface-action-danger-loading: var(--ds-color-red-600);
  --ds-color-typography-action-danger-default: var(--ds-color-neutrals-white);
  --ds-color-surface-action-icon-fill-hover: var(--ds-color-neutrals-300);
  --ds-color-surface-action-icon-fill-selected: var(--ds-color-neutrals-400);
  --ds-color-border-action-icon-default: var(--ds-color-neutrals-300);
  --ds-color-border-action-icon-dark: var(--ds-color-neutrals-400);
  --ds-color-surface-action-icon-visual-default: var(--ds-color-neutrals-700);
  --ds-color-surface-action-icon-visual-dark: var(--ds-color-neutrals-1000);
  --ds-color-surface-expression-forest-default: var(--ds-color-forest-100);
  --ds-color-surface-expression-ruby-default: var(--ds-color-red-200);
  --ds-color-surface-expression-gold-default: var(--ds-color-yellow-50);
  --ds-color-surface-expression-purple-default: var(--ds-color-purple-100);
  --ds-color-surface-expression-rust-default: var(--ds-color-orange-100);
  --ds-color-surface-expression-gray-default: var(--ds-color-neutrals-200);
  --ds-color-surface-feedback-info: var(--ds-color-blue-200);
  --ds-color-surface-feedback-success: var(--ds-color-green-200);
  --ds-color-surface-feedback-warning: var(--ds-color-orange-100);
  --ds-color-surface-feedback-error: var(--ds-color-red-100);
  --ds-color-icon-neutral-extra-heavy: var(--ds-color-neutrals-1000);
  --ds-color-icon-neutral-normal: var(--ds-color-neutrals-700);
  --ds-color-icon-neutral-light: var(--ds-color-neutrals-500);
  --ds-color-icon-neutral-extra-light: var(--ds-color-neutrals-400);
  --ds-color-icon-neutral-xx-light: var(--ds-color-neutrals-300);
  --ds-color-icon-neutral-white: var(--ds-color-neutrals-white);
  --ds-color-icon-blues-heavy: var(--ds-color-blue-950);
  --ds-color-icon-blues-normal: var(--ds-color-blue-700);
  --ds-color-icon-blues-light: var(--ds-color-blue-600);
  --ds-color-icon-blues-extra-light: var(--ds-color-blue-500);
  --ds-color-surface-action-ai-hover: var(--ds-color-purple-900);
  --ds-color-surface-action-ai-active: var(--ds-color-purple-950);
  --ds-color-typography-action-ai-default: var(--ds-color-neutrals-1000);
  --ds-color-typography-action-ai-light: var(--ds-color-neutrals-white);
  --ds-color-surface-interaction-form-selected: var(--ds-color-blue-500);
  --ds-color-surface-interaction-form-hover: var(--ds-color-blue-600);
  --ds-color-surface-interaction-form-inactive: var(--ds-color-neutrals-400);
  --ds-color-typography-body-disabled: var(--ds-color-neutrals-700);
  --ds-color-typography-expression-blue: var(--ds-color-blue-900);
  --ds-color-surface-interaction-dropdown-default: var(--ds-color-neutrals-white);
  --ds-color-surface-interaction-dropdown-hover: var(--ds-color-emerald-100);
  --ds-color-surface-interaction-dropdown-selected: var(--ds-color-emerald-200);
  --ds-color-surface-interaction-dropdown-disabled: var(--ds-color-neutrals-100);
  --ds-color-surface-expression-emerald-default: var(--ds-color-emerald-100);
  --ds-color-border-form-darkest: var(--ds-color-neutrals-950);
  --ds-color-surface-neutral-level-4: var(--ds-color-neutrals-300);
  --ds-color-surface-expression-green-default: var(--ds-color-green-200);
  --ds-color-surface-expression-yellow-default: var(--ds-color-yellow-100);
  --ds-color-border-tab-inactive: var(--ds-color-neutrals-300);
  --ds-color-border-tab-active: var(--ds-color-emerald-500);
  --ds-color-border-modal-normal: var(--ds-color-neutrals-300);
  --ds-color-surface-interaction-toggle-off-default: var(--ds-color-neutrals-800);
  --ds-color-surface-interaction-toggle-off-hover: var(--ds-color-neutrals-1000);
  --ds-color-surface-interaction-toggle-disabled: var(--ds-color-neutrals-400);
  --ds-color-surface-interaction-toggle-on-default: var(--ds-color-green-700);
  --ds-color-surface-interaction-toggle-on-hover: var(--ds-color-green-800);
  --ds-color-typography-navigation-global-default: var(--ds-color-neutrals-300);
  --ds-color-typography-navigation-global-selected: var(--ds-color-neutrals-100);
  --ds-color-typography-body-inactive: var(--ds-color-neutrals-700);
  --ds-color-typography-warning-light: var(--ds-color-orange-800);
  --ds-color-typography-expression-white: var(--ds-color-neutrals-white);
  --ds-color-surface-expression-navy-default: var(--ds-color-navy-900);
  --ds-color-icon-neutral-xxx-light: var(--ds-color-neutrals-200);
  --ds-color-icon-neutral-xxxx-light: var(--ds-color-neutrals-100);
  --ds-color-border-navigation-global-active: var(--ds-color-emerald-500);
  --ds-color-surface-interaction-navigation-primary-hover: var(--ds-color-navy-950);
  --ds-color-surface-interaction-navigation-primary-selected: var(--ds-color-navy-950);
  --ds-color-surface-interaction-navigation-primary-background: var(--ds-color-navy-1000);
  --ds-color-surface-interaction-navigation-secondary-hover: var(--ds-color-emerald-100);
  --ds-color-surface-interaction-navigation-secondary-selected: var(--ds-color-emerald-200);
  --ds-color-surface-interaction-navigation-secondary-background: var(--ds-color-neutrals-50);
  --ds-color-border-navigation-secondary-default: var(--ds-color-neutrals-200);
  --ds-color-typography-navigation-secondary-default: var(--ds-color-neutrals-1000);
  --ds-color-typography-navigation-secondary-subheader: var(--ds-color-neutrals-500);
  --ds-color-surface-interaction-navigation-workspace-hover: var(--ds-color-emerald-300);
  --ds-color-surface-interaction-navigation-workspace-selected: var(--ds-color-emerald-300);
  --ds-color-surface-interaction-navigation-workspace-background: var(--ds-color-neutrals-50);
  --ds-color-border-navigation-workspace-default: var(--ds-color-neutrals-300);
  --ds-color-typography-body-white: var(--ds-color-neutrals-white);
}