/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --ds-dimension-effects-none: 0px;
  --ds-dimension-effects-xs: 2px;
  --ds-dimension-effects-sm: 4px;
  --ds-dimension-effects-md: 8px;
  --ds-dimension-effects-lg: 12px;
  --ds-dimension-effects-xl: 16px;
  --ds-dimension-effects-2-xl: 20px;
  --ds-dimension-effects-3-xl: 24px;
}