/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --ds-font-family-display: "Inter";
  --ds-font-family-title: "Inter";
  --ds-font-family-body: "Inter";
}