/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --ds-size-none: 0px;
  --ds-size-5-xs: 1px;
  --ds-size-4-xs: 2px;
  --ds-size-3-xs: 4px;
  --ds-size-2-xs: 6px;
  --ds-size-xs: 8px;
  --ds-size-sm: 12px;
  --ds-size-md: 16px;
  --ds-size-lg: 20px;
  --ds-size-xl: 24px;
  --ds-size-2-xl: 32px;
  --ds-size-3-xl: 40px;
  --ds-size-4-xl: 44px;
  --ds-size-5-xl: 48px;
  --ds-size-6-xl: 56px;
  --ds-size-7-xl: 64px;
  --ds-size-8-xl: 72px;
  --ds-size-9-xl: 80px;
  --ds-size-10-xl: 88px;
  --ds-size-11-xl: 96px;
  --ds-size-14-xl: 120px;
  --ds-size-17-xl: 144px;
  --ds-size-19-xl: 160px;
  --ds-size-21-xl: 176px;
  --ds-size-23-xl: 192px;
  --ds-size-24-xl: 200px;
  --ds-size-26-xl: 216px;
  --ds-size-29-xl: 240px;
  --ds-size-31-xl: 256px;
  --ds-size-35-xl: 320px;
  --ds-size-40-xl: 400px;
}