/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --ds-space-spacing-none: 0px;
  --ds-space-spacing-4-xs: 2px;
  --ds-space-spacing-3-xs: 4px;
  --ds-space-spacing-2-xs: 6px;
  --ds-space-spacing-xs: 8px;
  --ds-space-spacing-sm: 12px;
  --ds-space-spacing-md: 16px;
  --ds-space-spacing-lg: 20px;
  --ds-space-spacing-xl: 24px;
  --ds-space-spacing-2-xl: 32px;
  --ds-space-spacing-3-xl: 40px;
  --ds-space-spacing-4-xl: 48px;
  --ds-space-spacing-5-xl: 56px;
  --ds-space-spacing-6-xl: 64px;
  --ds-space-spacing-7-xl: 72px;
  --ds-space-spacing-8-xl: 80px;
}