@mixin row-control-group() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -8px;

  &--full-width {
    // This is a min-width because we are using a negative margin-right on the container
    // (see immediately above). The negative margin makes the container extend beyond 100% on
    // the rightmost edge, which is counteracted by the postive margin on the child components.
    // This lets us have a margin-right between child elements that goes away when they wrap
    // to a vertical alignmnet on mobile. At the time of writing this, flex's gap property is
    // not supported in all browsers for this layout.
    min-width: 100%;

    .FormControlLabel {
      flex: 1 1 0;
      min-width: 256px;
    }
  }

  &--compact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .FormControlLabel--bordered {
      padding: 5px 10px;
      margin-right: 8px;

      input[type='radio'] {
        display: none;
      }
    }
  }

  .FormControlLabel {
    flex-wrap: wrap;
    margin: 0 8px 8px 0;
    display: block;
  }
}
