@import '../borders';
@import '../colors';
@import '../typography';

.FormControlLabel {
  @include font-type-30;

  align-items: center;
  display: flex;

  &--with-children {
    @include font-type-30--bold;

    align-items: flex-start;
    flex-direction: column;
    display: flex;
  }

  &__label {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
  }

  &__control {
    display: flex;
    margin-right: .5rem;
  }

  &__children {
    @include font-type-30;

    color: $ux-gray-800;
    margin-top: 0.5rem;
    width: 100%;
  }

  &--bordered {
    border: 1px solid $ux-gray-400;
    border-radius: $ux-border-radius;
    padding: 1rem;
    cursor: pointer;
  }

  &--disabled {
    background-color: $ux-gray-100;
    cursor: not-allowed;
    color: $ux-gray-400;

    .FormControlLabel__children {
      color: $ux-gray-400;
    }
  }

  input[type='checkbox'], input[type='radio'] {
    min-height: 1rem;
    min-width: 1rem;
    margin-top: 0.125rem;
  }
}
