@import '../colors';
@import '../typography';

.InputLabel, .InputLegend {
  @include synth-font-type-30--bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 6px;

  &__helper-text {
    @include synth-font-type-10--uppercase;
    color: $ux-gray-900;
  }
}

