@import '../../scss/theme';

.RadioButtonGroup {
  &--row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .RadioButton {
      margin-right: 0.5rem;
      display: block;
    }

    .RadioButton:last-child {
      margin-right: 0;
    }
   }

  .RadioButton--bordered {
    padding: 1rem;

    .RadioButton__label {
      @include font-type-30--bold;
    }
  }
}
