@import '../../scss/theme';

.RadioButtonGroup {
  &--row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -0.5rem;

    &--full-width {
      width: 100%;

      .FormControlLabel {
        flex: 1 1 0;
      }
    }

    .FormControlLabel {
      flex-wrap: wrap;
      margin-right: 0.5rem;
      min-width: 16rem;
      display: block;
    }
  }
}
