@import '../../scss/theme.scss';

.Layout__sidebar-nav {
  &__mobile-controls {
    border-top: 1px solid $ux-gray-400;
    color: $ux-white;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    margin: 0 $ux-spacing-40;
    padding-top: $ux-spacing-40;
  }
}
