@import '../../scss/theme.scss';

.Layout__sidebar-nav {
  &__mobile-controls {
    border-top: 1px solid var(--ux-gray-400);
    color: var(--ux-white);
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    margin: 0 $synth-spacing-4;
    padding-top: $synth-spacing-4;
  }
}
