@import '../../scss/theme';

$card-list-spacing: 1.5rem;
$card-list-child-card-spacing: 0.75rem;

.CardList {
  display: flex;
  flex-direction: column;

  margin: $card-list-spacing 0;
  
  .Card {
    margin: $card-list-child-card-spacing;
  }

  &__alignItems {
    &--center {
      align-items: center;
    }

    &--flex-start {
      align-items: flex-start;
    }

    &--flex-end {
      align-items: flex-end;
    }
  }
}
