@import '../../scss/theme';

.Pill {
  font: var(--synth-font-subtext-regular);

  display: inline;
  background-color: var(--ux-blue-100);
  color: var(--ux-blue-700);
  border-radius: var(--ux-border-radius);
  padding: var(--synth-spacing-1) var(--synth-spacing-3);
  white-space: nowrap;

  &--blue {
    background-color: var(--ux-blue-100);
    color: var(--ux-blue-700);

    .Pill__icon--lead {
      color: var(--ux-blue);
      margin-right: var(--synth-spacing-1);
    }

    .Pill__button--close {
      background-color: unset;
      border: none;
      color: var(--ux-blue-500);
      margin-left: var(--synth-spacing-2);
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: var(--ux-blue-200);
      }
    }
  }

  &--orange {
    background-color: var(--ux-orange-100);
    color: var(--ux-orange-900);

    .Pill__icon--lead {
      color: var(--ux-orange-700);
      margin-right: var(--synth-spacing-1);
    }

    .Pill__button--close {
      background-color: unset;
      border: none;
      color: var(--ux-orange);
      margin-left: var(--synth-spacing-2);
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: var(--ux-orange-200);
      }
    }
  }

  &--green {
    background-color: var(--ux-green-100);
    color: var(--ux-green-800);

    .Pill__icon--lead {
      color: var(--ux-green-600);
      margin-right: var(--synth-spacing-1);
    }

    .Pill__button--close {
      background-color: unset;
      border: none;
      color: var(--ux-green-600);
      margin-left: var(--synth-spacing-2);
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: var(--ux-green-200);
      }
    }
  }

  &--yellow {
    background-color: var(--ux-yellow-100);
    color: var(--ux-yellow-900);

    .Pill__icon--lead {
      color: var(--ux-yellow-700);
      margin-right: var(--synth-spacing-1);
    }

    .Pill__button--close {
      background-color: unset;
      border: none;
      color: var(--ux-yellow-600);
      margin-left: var(--synth-spacing-2);
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: var(--ux-yellow-200);
      }
    }
  }

  &--red {
    background-color: var(--ux-red-100);
    color: var(--ux-red-900);

    .Pill__icon--lead {
      color: var(--ux-red-900);
      margin-right: var(--synth-spacing-1);
    }

    .Pill__button--close {
      background-color: unset;
      border: none;
      color: var(--ux-red-900);
      margin-left: var(--synth-spacing-2);
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: var(--ux-red-200);
      }
    }
  }

  &--gray {
    background-color: var(--ux-gray-300);
    color: var(--ux-gray-800);

    .Pill__icon--lead {
      color: var(--ux-gray-800);
      margin-right: var(--synth-spacing-1);
    }

    .Pill__button--close {
      background-color: unset;
      border: none;
      color: var(--ux-gray-500);
      margin-left: var(--synth-spacing-2);
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: var(--ux-gray-400);
      }
    }
  }

  &--silver {
    background-color: var(--ux-gray-200);
    color: var(--ux-gray-800);

    .Pill__icon--lead {
      color: var(--ux-gray-700);
      margin-right: var(--synth-spacing-1);
    }

    .Pill__button--close {
      background-color: unset;
      border: none;
      color: var(--ux-gray-500);
      margin-left: var(--synth-spacing-2);
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: var(--ux-gray-300);
      }
    }
  }
}
