@import '../../scss/borders';
@import '../../scss/theme';

.Pill {
  display: inline;
  font-weight: $font-weight-normal;

  //////// COLORS!
  // Default color is gray and sadddddd
  background-color: $ux-gray-200;
  color: $ux-gray-800;

  &--blue {
    background-color: $ux-blue-100;
    color: $ux-blue-500;
  }

  &--orange {
    background-color: $ux-orange-100;
    color: $ux-orange-600;
  }

  &--green {
    background-color: $ux-green-200;
    color: $ux-green-800;
  }

  /////// SIZES
  // Seems like a fine default size
  border-radius: 2rem;
  font-size: $font-size-base;
  padding: .5rem .75rem;

  &--sm {
    border-radius: 1rem;
    font-size: .625rem;
    padding: .25rem .5rem;
  }

  &--squared {
    border-radius: $ux-border-radius;
  }
}
