@import '../../scss/borders';
@import '../../scss/theme';

.Pill {
  @include font-type-20;
  font-weight: $font-weight-medium;
  display: inline;
  background-color: $ux-blue-100;
  color: $ux-blue-700;
  border: 0.06rem solid $ux-blue-300;
  border-radius: $ux-border-radius;
  padding: $ux-spacing-10 $ux-spacing-30;

  &--blue {
    background-color: $ux-blue-100;
    color: $ux-blue-700;
    border: 0.06rem solid $ux-blue-300;

    .Pill__icon--lead {
      color: $ux-blue;
      margin-right: $ux-spacing-10;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-blue-300;
      margin-left: $ux-spacing-20;
      margin-right: 0;
      padding: 0;
    }
  }

  &--orange {
    background-color: $ux-orange-100;
    color: $ux-orange-900;
    border: 0.06rem solid $ux-orange-400;

    .Pill__icon--lead {
      color: $ux-orange-700;
      margin-right: $ux-spacing-10;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-orange;
      margin-left: $ux-spacing-20;
      margin-right: 0;
      padding: 0;
    }
  }

  &--green {
    background-color: $ux-green-200;
    color: $ux-green-800;
    border: 0.06rem solid $ux-green-400;

    .Pill__icon--lead {
      color: $ux-green-600;
      margin-right: $ux-spacing-10;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-green-500;
      margin-left: $ux-spacing-20;
      margin-right: 0;
      padding: 0;
    }
  }

  &--yellow {
    background-color: $ux-yellow-100;
    color: $ux-yellow-900;
    border: 0.06rem solid $ux-yellow-600;

    .Pill__icon--lead {
      color: $ux-yellow-700;
      margin-right: $ux-spacing-10;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-yellow-600;
      margin-left: $ux-spacing-20;
      margin-right: 0;
      padding: 0;
    }
  }

  &--gray {
    background-color: $ux-gray-300;
    color: $ux-gray-800;
    border: 0.06rem solid $ux-gray-400;

    .Pill__icon--lead {
      margin-right: $ux-spacing-10;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-gray-500;
      margin-left: $ux-spacing-20;
      margin-right: 0;
      padding: 0;
    }
  }

  &--silver {
    background-color: $ux-gray-200;
    color: $ux-gray-800;
    border: 0.06rem solid $ux-gray-400;

    .Pill__icon--lead {
      color: $ux-gray-700;
      margin-right: $ux-spacing-10;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-gray-500;
      margin-left: $ux-spacing-20;
      margin-right: 0;
      padding: 0;
    }
  }
}
