@import '../../scss/borders';
@import '../../scss/theme';

.Pill {
  @include synth-font-type-20;
  display: inline;
  background-color: $ux-blue-100;
  color: $ux-blue-700;
  border-radius: $ux-border-radius;
  padding: $synth-spacing-1 $synth-spacing-3;
  white-space: nowrap;

  &--blue {
    background-color: $ux-blue-100;
    color: $ux-blue-700;

    .Pill__icon--lead {
      color: $ux-blue;
      margin-right: $synth-spacing-1;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-blue-500;
      margin-left: $synth-spacing-2;
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: $ux-blue-200;
      }
    }
  }

  &--orange {
    background-color: $ux-orange-100;
    color: $ux-orange-900;

    .Pill__icon--lead {
      color: $ux-orange-700;
      margin-right: $synth-spacing-1;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-orange;
      margin-left: $synth-spacing-2;
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: $ux-orange-200;
      }
    }
  }

  &--green {
    background-color: $ux-green-100;
    color: $ux-green-800;

    .Pill__icon--lead {
      color: $ux-green-600;
      margin-right: $synth-spacing-1;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-green-600;
      margin-left: $synth-spacing-2;
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: $ux-green-200;
      }
    }
  }

  &--yellow {
    background-color: $ux-yellow-100;
    color: $ux-yellow-900;

    .Pill__icon--lead {
      color: $ux-yellow-700;
      margin-right: $synth-spacing-1;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-yellow-600;
      margin-left: $synth-spacing-2;
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: $ux-yellow-200;
      }
    }
  }

  &--red {
    background-color: $ux-red-100;
    color: $ux-red-900;

    .Pill__icon--lead {
      color: $ux-red-900;
      margin-right: $synth-spacing-1;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-red-900;
      margin-left: $synth-spacing-2;
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: $ux-red-200;
      }
    }
  }

  &--gray {
    background-color: $ux-gray-300;
    color: $ux-gray-800;

    .Pill__icon--lead {
      color: $ux-gray-800;
      margin-right: $synth-spacing-1;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-gray-500;
      margin-left: $synth-spacing-2;
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: $ux-gray-400;
      }
    }
  }

  &--silver {
    background-color: $ux-gray-200;
    color: $ux-gray-800;

    .Pill__icon--lead {
      color: $ux-gray-700;
      margin-right: $synth-spacing-1;
    }

    .Pill__button--close {
      background-color: unset; 
      border: none;
      color: $ux-gray-500;
      margin-left: $synth-spacing-2;
      margin-right: 0;
      padding: 0;
    }

    &.Pill--closeable {
      &:hover {
        background-color: $ux-gray-300;
      }
    }
  }
}
