@import '../../scss/theme';

@mixin primary-action($bg-color: none, $bg-color-hover: $ux-gray-300, $color: $synth-unselected-neutral) {
  @include synth-font-type-30--bold;

  background-color: $bg-color;
  border: none;
  border-left: unset;
  border-radius: var(--ux-border-radius);
  color: $color;
  margin: var(--synth-spacing-2) var(--synth-spacing-4) var(--synth-spacing-2) 0;
  padding: var(--synth-spacing-2) var(--synth-spacing-4);
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: $bg-color-hover;
  }
}

@mixin close-action($color: $ux-gray-700, $color-hover: $ux-gray-800) {
  background-color: unset;
  border: none;
  color: $color;

  &:hover {
    color: $color-hover
  }
}

.Synthesized {
  .Alert {
    display: grid;
    grid-template-columns: 32px auto auto 32px;
    grid-template-rows: auto auto;
    grid-template-areas:
      'icon content content close'
      'icon action action close'
      ;

    @media (width >= 450px) {
      grid-template-areas:
      'icon content action close'
      'icon content action close'
      ;
    }

    background-color: var(--synth-gray-300);
    border-radius: var(--ux-border-radius);
    color: var(--synth-text-neutral);
    margin-bottom: var(--synth-spacing-4);
    padding: var(--synth-spacing-4);
    position: relative;

    &__icon {
      grid-area: icon;
    }

    &__content {
      grid-area: content;
      margin-right: var(--synth-spacing-4);
    }

    &__action {
      grid-area: action;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media (width >= 450px) {
        justify-content: flex-end;
      }
    }

    &__close {
      grid-area: close;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }

    &__title {
      @include synth-font-type-30--bold;

      margin-bottom: 4px;
    }

    &__message {
      @include synth-font-type-30;

      margin-bottom: 0;
    }
  }

  .Alert-success {
    border-left: 8px solid var(--synth-accent-green);

    .close {
      @include close-action;
    }

    .primary-action {
      @include primary-action;
    }

    .Alert__icon {
      color: var(--synth-accent-green);

      .fa-check {
        color: var(--ux-gray-100);
      }
    }
  }

  .Alert-info {
    border-left: 8px solid var(--synth-blue-300);

    .close {
      @include close-action;
    }

    .primary-action {
      @include primary-action;
    }

    .Alert__icon {
      color: var(--ux-blue-300);

      .fa-info {
        color: var(--ux-blue-600);
      }
    }
  }

  .Alert-feature {
    border: 2px solid var(--ux-teal-600);

    .close {
      @include close-action;
    }

    .primary-action {
      @include primary-action;
    }

    .Alert__icon {
      color: var(--ux-teal-600);
    }
  }

  .Alert-warning {
    border-left: 8px solid var(--synth-orange-100);

    .close {
      @include close-action;
    }

    .primary-action {
      @include primary-action;
    }

    .Alert__icon {
      color: var(--synth-orange-100);
    }
  }

  .Alert-error {
    border-left: 8px solid var(--ux-red-400);

    .close {
      @include close-action;
    }

    .primary-action {
      @include primary-action;
    }

    .Alert__icon {
      color: var(--synth-red-200);
    }
  }
}

.Alert {
  display: grid;
  grid-template-columns: 32px auto auto 32px;
  grid-template-rows: auto auto;
  grid-template-areas:
    'icon content content close'
    'icon action action close'
    ;

  @media (width >= 450px) {
    grid-template-areas:
    'icon content action close'
    'icon content action close'
    ;
  }

  font-weight: 500;
  border-radius: var(--ux-border-radius);
  margin-bottom: var(--synth-spacing-4);
  padding: var(--synth-spacing-4);
  position: relative;

  &__icon {
    grid-area: icon;
  }

  &__content {
    grid-area: content;
    margin-right: var(--synth-spacing-4);
  }

  &__action {
    grid-area: action;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (width >= 450px) {
      justify-content: flex-end;
    }
  }

  &__close {
    grid-area: close;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__title {
    @include synth-font-type-30--bold;

    margin-bottom: 4px;
  }

  &__message {
    @include synth-font-type-30;

    margin-bottom: 0;
  }
}

.Alert-success {
  background-color: var(--ux-green-100);
  color: var(--ux-green-800);
  border-left: 8px solid var(--ux-green-400);

  .close {
    @include close-action;
  }

  .primary-action {
    @include primary-action;
  }

  .Alert__icon {
    color: var(--ux-green-400);

    .fa-check {
      color: var(--ux-green-800);
    }
  }
}

.Alert-info {
  background-color: var(--ux-blue-100);
  color: var(--synth-blue-400);
  border-left: 8px solid var(--ux-blue-300);

  .close {
    @include close-action($ux-blue-600, $ux-blue-800)
  }

  .primary-action {
    @include primary-action;
  }

  .Alert__icon {
    color: var(--ux-blue-300);

    .fa-info {
      color: var(--ux-blue-600);
    }
  }
}

.Alert-feature {
  background-color: var(--ux-teal-100);
  color: var(--ux-teal-800);
  border: 2px solid var(--ux-teal-600);

  .close {
    @include close-action;
  }

  .primary-action {
    @include primary-action;
  }
}

.Alert-feature {
  background-color: var(--ux-teal-100);
  color: var(--ux-teal-800);
  border: 2px solid var(--ux-teal-600);

  .close {
    @include close-action($ux-teal-600, $ux-teal-800)
  }

  .primary-action {
    @include primary-action($ux-teal-600, $ux-teal-700, $ux-white)
  }
}

.Alert-warning {
  background-color: var(--ux-yellow-100);
  color: var(--ux-yellow-900);
  border-left: 8px solid var(--ux-yellow-600);

  .close {
    @include close-action;
  }

  .primary-action {
    @include primary-action;
  }

  .Alert__icon {
    color: var(--ux-yellow-700);
  }
}

.Alert-error {
  background-color: var(--ux-red-100);
  color: var(--ux-red-800);
  border-left: 8px solid var(--ux-red-400);

  .close {
    @include close-action;
  }

  .primary-action {
    @include primary-action;
  }

  .Alert__icon {
    color: var(--synth-red-200);
  }
}
