@import '../../scss/theme';

@mixin primary-action($bg-color, $bg-color-hover, $color) {
  @include font-type-30--bold;
  background-color: $bg-color;
  border: none;
  border-left: unset;
  border-radius: $ux-border-radius;
  color: $color;
  margin: $ux-spacing-20 $ux-spacing-40 $ux-spacing-20 0;
  padding: $ux-spacing-20 $ux-spacing-40;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: $bg-color-hover;
  }
}

@mixin close-action($color, $color-hover) {
  background-color: unset;
  border: none;
  color: $color;

  &:hover {
    color: $color-hover
  }
}

.Alert {
  display: grid;
  grid-template-columns: 2rem auto auto 2rem;
  grid-template-rows: auto auto;
  grid-template-areas:
    'icon content content close'
    'icon action action close'
    ;

  @media (min-width: 450px) {
    grid-template-areas:
    'icon content action close'
    'icon content action close'
    ;
  }

  font-weight: 500;
  border-radius: $ux-border-radius;
  margin-bottom: $ux-spacing-40;
  padding: $ux-spacing-40;
  position: relative;

  &__icon {
    grid-area: icon;
  }

  &__content {
    grid-area: content;
    margin-right: $ux-spacing-40;
  }

  &__action {
    grid-area: action;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (min-width: 450px) {
      justify-content: flex-end;
    }
  }

  &__close {
    grid-area: close;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__title {
    @include font-type-30--bold;
    margin-bottom: 0.25rem;
  }

  &__message {
    @include font-type-30;
    margin-bottom: 0;
  }
}

.Alert-success {
  background-color: $ux-green-100;
  color: $ux-green-800;
  border-left: 0.5rem solid $ux-green-400;

  .close {
    @include close-action($ux-green-600, $ux-green-800)
  }

  .primary-action {
    @include primary-action($ux-green-300, $ux-green-400, $ux-green-800)
  }

  .Alert__icon {
    color: $ux-green-400;
    
    .fa-check {
      color: $ux-green-800;
    }
  }
}

.Alert-info {
  background-color: $ux-blue-100;
  color: $ux-blue-800;
  border-left: 0.5rem solid $ux-blue-300;

  .close {
    @include close-action($ux-blue-600, $ux-blue-800)
  }

  .primary-action {
    @include primary-action($ux-blue-200, $ux-blue-300, $ux-blue-600)
  }

  .Alert__icon {
    color: $ux-blue-300;
    
    .fa-info {
      color: $ux-blue-600;
    }
  }
}

.Alert-announcement {
  background-color: $ux-blue-100;
  color: $ux-blue-700;
  border-left: 0.5rem solid $ux-blue-300;

  .close {
    @include close-action($ux-blue-600, $ux-blue-800)
  }

  .primary-action {
    @include primary-action($ux-blue-200, $ux-blue-300, $ux-blue-600)
  }
}

.Alert-warning {
  background-color: $ux-yellow-100;
  color: $ux-yellow-900;
  border-left: 0.5rem solid $ux-yellow-600;

  .close {
    @include close-action($ux-yellow-600, $ux-yellow-800)
  }

  .primary-action {
    @include primary-action($ux-yellow-300, $ux-yellow-400, $ux-yellow-900)
  }

  .Alert__icon {
    color: $ux-yellow-700;
  }
}

.Alert-error {
  background-color: $ux-red-100;
  color: $ux-red-800;
  border-left: 0.5rem solid $ux-red-400;

  .close {
    @include close-action($ux-red-600, $ux-red-800)
  }

  .primary-action {
    @include primary-action($ux-red-200, $ux-red-300, $ux-red-900)
  }

  .Alert__icon {
    color: $ux-red;
  }
}
