@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/alert';

@import '../../scss/theme';

.AlertMessage {
  font-weight: 500;
  border-radius: .25rem;
  margin-bottom: 1rem;
  padding: .75rem 1.25rem;
  position: relative;
  max-width: 22.5rem;
  float: right;
  border: 0.06rem solid transparent;

  &__title {
    font-size: .875rem;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.AlertMessage-success {
  background-color: $ux-green-200;
  color: $ux-green-800;
  border-left: 0.5rem solid $ux-green-400;
  box-shadow: $ux-elevations-02;

  .close {
    color: $ux-green-800;
    margin-left: $ux-spacing-04;
  }
}

.AlertMessage-info {
  background-color: $ux-blue-100;
  color: $ux-blue-700;
  border-left: 0.5rem solid $ux-blue-300;
  box-shadow: $ux-elevations-02;

  .close {
    color: $ux-blue-700;
    margin-left: $ux-spacing-04;
  }
}

.AlertMessage-warning {
  background-color: $ux-yellow-100;
  color: $ux-yellow-800;
  border-left: 0.5rem solid $ux-yellow-600;
  box-shadow: $ux-elevations-02;

  .close {
    color: $ux-yellow-800;
    margin-left: $ux-spacing-04;
  }
}

.AlertMessage-error {
  background-color: $ux-red-100;
  color: $ux-red-800;
  border-left: 0.5rem solid $ux-red-400;
  box-shadow: $ux-elevations-02;

  .close {
    color: $ux-red-800;
    margin-left: $ux-spacing-04;
  }
}
