@import '../../scss/theme';

.Popper {
  @include font-type-30;
  background-color: $ux-white;
  border-radius: $ux-border-radius;
  border: 0.06rem solid $ux-gray-300;
  box-shadow: $ux-box-shadow-card;
  max-width: 15rem;
  letter-spacing: normal;
  padding: $ux-spacing-30;
  z-index: $z-index-flash;
  font-weight: $font-weight-light;

  &__header {
    margin-bottom: $ux-spacing-10;
    @include font-type-30--bold;
  }

  &--dark {
    background-color: $ux-gray-800;
    color: $ux-gray-100;
  }
}
