@import '../../scss/theme';

$empty-state-max-width: 400px;

$empty-state-margin-top-sm: 64px;
$empty-state-margin-top-md: 96px;
$empty-state-margin-top-lg: 200px;

$empty-state-title-margin-bottom: $synth-spacing-4;
$empty-state-subtitle-margin-bottom: $synth-spacing-4;

$empty-state-image-max-height: 150px;

.EmptyState {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--margin-top {
    &--sm {
      margin-top: $empty-state-margin-top-sm;
    }

    &--md {
      margin-top: $empty-state-margin-top-md;
    }

    &--lg {
      margin-top: $empty-state-margin-top-lg;
    }

    &--none {
      margin-top: 0;
    }
  }

  &__content {
    max-width: $empty-state-max-width;
  }

  &__image {
    display: flex;
    justify-content: center;

    margin-bottom: $synth-spacing-8;
    
    img {
      max-height: $empty-state-image-max-height;
      width: auto;
    }
  }

  &__title {
    margin-bottom: $empty-state-title-margin-bottom;
  }

  &__subtitle {
    margin-bottom: $empty-state-subtitle-margin-bottom;
  }

  &__actions {
    display: flex;
    justify-content: center;
  }

  &--full-width {
    max-width: unset;
  }
}
