@import '../../scss/theme';

$empty-state-max-width: 25rem;
$empty-state-max-image-height: 10rem;

$empty-state-margin-top-sm: 4rem;
$empty-state-margin-top-md: 6rem;
$empty-state-margin-top-lg: 12.5rem;

$empty-state-title-margin-bottom: $ux-spacing-40;
$empty-state-subtitle-margin-bottom: $ux-spacing-40;

.EmptyState {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--margin-top {
    &--sm {
      margin-top: $empty-state-margin-top-sm;
    }

    &--md {
      margin-top: $empty-state-margin-top-md;
    }

    &--lg {
      margin-top: $empty-state-margin-top-lg;
    }

    &--none {
      margin-top: 0;
    }
  }

  &__content {
    max-width: $empty-state-max-width;
  }

  &__image {
    display: flex;
    justify-content: center;

    margin-bottom: $ux-spacing-40;
    max-height: $empty-state-max-image-height;
  }

  &__title {
    margin-bottom: $empty-state-title-margin-bottom;
  }

  &__subtitle {
    margin-bottom: $empty-state-subtitle-margin-bottom;
  }

  &__actions {
    display: flex;
    justify-content: center;
  }

  &--full-width {
    max-width: unset;
  }
}
