@import '../../scss/theme';

.FormGroup {
  margin: 1rem 0 0.5rem;

  &--is-invalid {
    input, select, textarea {
      border-color: $ux-red;
    }
  }

  &__description {
    padding: .25rem 0;
  }

  &__invalid-feedback {
    color: $ux-red;
    display: block;
    font-size: 100%;

    &__list {
      @include ui-remove-list-styles();
    }
  }

  .form-control {
    height: 2.25rem;
  }
}
