@import '../../scss/theme';

$input-trailing-text-spacing-for-type-number: 35px;
$input-trailing-text-max-width-before-hiding: 200px;

.Input {
  @include synth-font-type-30;

  ::placeholder {
    color: var(--ux-gray-700);
  }

  &:focus {
    border: 1px solid var(--ux-blue-500);
    box-shadow: $input-focus-box-shadow;
    color: $input-focus-color;
  }

  .form-control {
    color: $input-color;
    padding: var(--synth-spacing-2) var(--synth-spacing-3);
  }

  .input-group-text {
    background-color: var(--ux-gray-100);
  }

  .input-trailing-text {
    position: absolute;
    right: var(--synth-spacing-4);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
    z-index: 3;

    &--input-type-number {
      right: $input-trailing-text-spacing-for-type-number;
    }

    @media (max-width: $input-trailing-text-max-width-before-hiding) {
      display: none;
    }
  }

  .trailing-icon-button {
    padding: 0;
    border: none;
    border-radius: none;
    background-color: var(--ux-gray-100);
  }

  .trailing-icon-button > .input-group-text {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      background-color: var(--ux-gray-200);
    }

  }
}
