name: Deploy to github pages

on:
  release:
    types: [published]
  push:
    branches:
      - main

env:
  FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  gh-pages-deploy:
    name: Deploying to gh-pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup_environment

      - name: Build
        run: yarn build-storybook

      - name: Upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: "storybook-static"

      - name: Deploy
        uses: actions/deploy-pages@v4
        with:
          token: ${{ github.token }}
