name: Lint

on: push

env:
  FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"

      - name: Setup Yarn
        uses: volta-cli/action@v4

      - name: Install dependencies
        run: yarn install

      - name: Lint JavaScript/TypeScript
        run: yarn lint:js

      - name: Lint CSS/SCSS
        run: yarn lint:css --quiet
