name: Lint

on: push

env:
  FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup_environment

      - name: Lint JavaScript/TypeScript
        run: yarn lint:js

      - name: Lint CSS/SCSS
        run: yarn lint:css --quiet
