@import '../../scss/theme';

$card-stack-horizontal-padding: 12px;

.CardStack {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  @include media-breakpoint-down(sm) {
    padding: 0 $card-stack-horizontal-padding;
  }

  > *:not(:first-child) {
    margin: $card-spacing 0 0;
  }

  &--xs {
   max-width: var(--card-width-xs);
  }

  &--sm {
    max-width: var(--card-width-sm);
  }

  &--md {
    max-width: var(--card-width-md);
  }

  &--lg {
    max-width: var(--card-width-lg);
  }
}
