@import '../../scss/theme';

$card-stack-child-card-vertical-margin: $card-spacing / 2;
$card-stack-horizontal-padding: $card-spacing / 2;

.CardStack {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  
  @include media-breakpoint-down(sm) {
    padding: 0 $card-stack-horizontal-padding;
  }

  .Card {
    margin: $card-stack-child-card-vertical-margin 0;
  }

  &--xs {
   max-width: $card-width-xs
  }

  &--sm {
    max-width: $card-width-sm;
  }

  &--md {
    max-width: $card-width-md;
  }

  &--lg {
    max-width: $card-width;
  }
}
